/*-------------bibTip CSS Document-------------*/
*     {margin:0; padding:0; border:none;}
html  {height:100%}
body  {background-color:#ffffff; color:#32322f; margin:0px;padding:0px;font-family:Arial,verdana;font-size:80%; height:100%; }

a:link, a:visited {color:#0075b0;text-decoration: none}
a:hover 		  {text-decoration:underline; }

#bibtip_header {font-size:100%; font-weight: bold; padding:5px; border-bottom:1px solid #dfdfdf; display:none }
#bibtip_title { color: #333333; padding-left:10px; padding-right:10px;}
#short_list ul {}
#short_list ul li {margin-left: 3px; font-size: 100%;  padding:2px 0; list-style-type: square;border-bottom:1px solid #dfdfdf; line-height:200%; text-indent:1em}
#short_list ul li:hover {background-color:#f8f8f8}
#long_list ul { }
#long_list ul li {margin-left: 3px; font-size:  80%;  padding:2px 0; list-style-type: square;border-bottom:1px solid #dfdfdf; }





