/*Calendar*/
div.dp-calendar	{text-align:center}

table.jCalendar {
	border: none;	  margin-top:2em;
	background: transparent;
    border-collapse: separate;
    border-spacing: 2px;
	width: 10em;
    border-spacing: 2px;
	width: 10em;
	font-size:110%;
}
table.jCalendar th {
	background: transparent;
	color: #000;
	font-weight: bold;
	padding: 1px 4px;
}

table.jCalendar td {
	background: #F5E1B8;
	color: #000;
	padding: 1px 4px;
	text-align: center;
}
table.jCalendar td.other-month {
	background: #F5E1B8;
	color: #000;
}
table.jCalendar td.today {
	background: #F57831;
	color: #000;
}
table.jCalendar td.selected {
	background: #F57831;
	color: #000;
}
table.jCalendar td.selected.dp-hover {
	background: #F57831;
	color: #000;
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	background: #F57831;
	color: #000;
}
table.jCalendar tr.selectedWeek td {
	background: #f66;
	color: #fff;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background: #F3F3F3;
	color: #bbb;
	text-decoration:line-through;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #F3F3F3;
	color: #bbb;
	text-decoration:line-through;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;	background: transparent;
	font-size: 11px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 171px;
	line-height: 1.2em;
}
div#dp-popup { position: absolute; z-index: 199; background-image:url(../images/v3.0/images/bg_strip_calendar_caption.png); background-repeat:repeat-x;background-color:#FFFFFF;border:1px solid #E87107; padding-left:0.3em; padding-right:0.3em; text-align:center; width:15.3em; }
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0 0.5em;
	padding: 0;
	color:#fff;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
	color: #0075B0;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
	color:#0075B0;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
a.dp-nav-next-month {background:transparent url(../images/v3.0/images/calendar-next.png) no-repeat scroll 30px 6px; width: 35px; text-align:left;}
a.dp-nav-prev-month {background:transparent url(../images/v3.0/images/calendar-prev.png) no-repeat scroll 0 6px; width: 35px; text-align:right;}
a.dp-nav-next-year {display: none}
a.dp-nav-prev-year 	{display: none}
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
	color:#0075B0;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}
#chooseDateForm li {
	list-style: none;
	padding: 5px;
	clear: both;
}

input.dp-applied {
	width: 140px;
	float: left;
	margin:5px 0;
}

a.dp-choose-date {
	float: left;
	width: 34px;
	height: 20px;
	padding: 0;
	margin: 5px 3px 0;
	display: block;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../images/v3.0/images/calendar-icon.png) no-repeat;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}

#calendar-me {
	margin: 20px;
}
pre.sourcecode {
	border: 2px dashed #ccc;
	padding: 10px;
	width: 734px;
	overflow: auto;
	margin: 0 0 20px;
}

