body{background-color: #13357C; margin: 0px 0px 0px 0px;}
img{border: none;}

#div.gadgetTop{width: 585px; border: 2px solid white; background: #DAE8F2 url(/primo_library/libweb/images/gadget_bottom.gif) left bottom repeat-x;}
#div.gadgetBottom{width: 585px; background: url(/primo_library/libweb/images/gadget_top.gif) left top repeat-x;}
div.gadgetTop{width: 585px;height:100%; border: 2px solid white; background: #DAE8F2 url(/primo_library/libweb/images/gadget_bottom.gif) left bottom repeat-x;}
div.gadgetBottom{width: 585px; height:100%;background: url(/primo_library/libweb/images/gadget_top.gif) left top repeat-x;}

form{margin: 0px; text-align: left; padding: 9px 0px 5px 7px;}
form input.searchText{font: normal 13px arial; color: black; width: 330px; vertical-align: middle;}
form input.submit2{border: none; width: 84px; height: 18px; padding-left: 4px; margin: 0px 0px 0px 1px; background: url(/primo_library/libweb/images/search_button.gif) left top repeat-y; cursor: pointer; font: normal 2px arial; text-align: left; color: #057BB6; vertical-align: middle;}
form input.submit2_o{border: none; width: 84px; height: 18px; padding-left: 4px; margin: 0px 0px 0px 1px; background: url(/primo_library/libweb/images/search_button.gif) left 18px repeat-y; cursor: pointer; font: normal 2px arial; text-align: left; color: #9CC9E1; vertical-align: middle;}

form a.dropDown{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; width: 32px; height: 18px; background: url(/primo_library/libweb/images/drop_down_button.gif) left top repeat-y; text-decoration: none; vertical-align: middle; position: relative; margin-left: -18px;}
form a.dropDown:hover{background-position: left 28px;}

form a.signIn{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; background: url(/primo_library/libweb/images/sign_in.gif) left top repeat-y; font: normal 14px arial; color: #1770B0; text-decoration: none; padding-left: 23px; margin-left: 12px;}
form a.signIn:hover{color: #F58B21; background-position: left 16px; text-decoration: underline;}
div.whiteLine{width: 580px; background: url(/primo_library/libweb/images/white_line.gif) left top no-repeat; padding: 5px 0px 1px 5px; text-align: right;}
div.whiteLine a{float: left; width: 168px; height: 34px; background: url(/primo_library/libweb/images/exlibris_logo.gif) left top repeat-y; text-decoration: none;}
div.whiteLine a:hover{background-position: left 34px;}
div.whiteLine div{font: normal 12px arial; color: #5AA7CE; padding: 17px 85px 0px 0px;}

div.searchResults_title{width: 531px; padding: 7px 38px 2px 16px; background: url(/primo_library/libweb/images/white_line.gif) left top no-repeat; font: normal 12px verdana; text-align: right;}
div.searchResults_title div{float: left;}
div.searchResults_title a{color: #1770B0; text-decoration: none; font: normal 12px arial;}
div.searchResults_title a:hover{color: #F58B21; text-decoration: underline;}
#div.searchResults_title span{color: #666666; font: normal 12px arial;}
div.searchResults_top span{font-weight: normal; background-color: white;}
div.searchResults_top span a{font-weight: normal !important;}

#div.searchResults{width: 572px; background: white url(/primo_library/libweb/images/search_results_bottom.gif) left bottom no-repeat; margin-bottom: 7px;margin-left: 7px;}
#div.searchResults_top{width: 548px; padding: 1px 12px 8px 12px; background: url(/primo_library/libweb/images/search_results_top.gif) left top no-repeat;}
div.searchResults{background: white url(imgs/search_results_rb.gif) right bottom no-repeat; margin-bottom: 7px; clear: both; border: 1px solid #DAE8F2;}
div.searchResults_r{background: url(imgs/search_results_lb.gif) left bottom no-repeat;}
div.searchResults_top{background: url(imgs/search_results_lt.gif) left top no-repeat;}
div.searchResults_top_r{padding: 1px 12px 15px 12px; background: url(imgs/search_results_rt.gif) right top no-repeat;}

div.searchResults_top table{width: 100%;}
div.searchResults_top .articleResult{background: url(/primo_library/libweb/images/small_article.jpg) left 8px no-repeat; text-align: left; padding-left: 29px; padding-top: 6px;}
div.searchResults_top .audioResult{background: url(/primo_library/libweb/images/small_audio_icon.gif) left 8px no-repeat; text-align: left; padding-left: 29px; padding-top: 6px;}
div.searchResults_top .bookResult{background: url(/primo_library/libweb/images/small_book_icon.gif) left 8px no-repeat; text-align: left; padding-left: 29px; padding-top: 6px;}
div.searchResults_top .journalResult{background: url(../images/small_journal_icon.gif) left 8px no-repeat; text-align: left; padding-left: 29px; padding-top: 6px;}
div.searchResults_top .mapResult{background: url(/primo_library/libweb/images/small_map_icon.gif) left 8px no-repeat; text-align: left; padding-left: 29px; padding-top: 6px;}
div.searchResults_top .otherResult{background: url(/primo_library/libweb/images/small_other_icon.gif) left 8px no-repeat; text-align: left; padding-left: 29px; padding-top: 6px;}
div.searchResults_top .textResult{background: url(/primo_library/libweb/images/small_text_icon.gif) left 8px no-repeat; text-align: left; padding-left: 29px; padding-top: 6px;}
div.searchResults_top .text_resourceResult{background: url(/primo_library/libweb/images/small_text_resource_icon.gif) left 8px no-repeat; text-align: left; padding-left: 29px; padding-top: 6px;}
div.searchResults_top .videoResult{background: url(/primo_library/libweb/images/small_video_icon.gif) left 8px no-repeat; text-align: left; padding-left: 29px; padding-top: 6px;}
html>body div.searchResults_top .articleResult{padding-top: 9px; background-position: left 11px;}
html>body div.searchResults_top .audioResult{padding-top: 9px; background-position: left 11px;}
html>body div.searchResults_top .bookResult{padding-top: 9px; background-position: left 11px;}
html>body div.searchResults_top .journalResult{padding-top: 9px; background-position: left 11px;}
html>body div.searchResults_top .mapResult{padding-top: 9px; background-position: left 11px;}
html>body div.searchResults_top .otherResult{padding-top: 9px; background-position: left 11px;}
html>body div.searchResults_top .textResult{padding-top: 9px; background-position: left 11px;}
html>body div.searchResults_top .text_resourceResult{padding-top: 9px; background-position: left 11px;}
html>body div.searchResults_top .videoResult{padding-top: 9px; background-position: left 11px;}
html>/**/body div.searchResults_top .articleResult{padding-top: 9px; background-position: left 8px;}
html>/**/body div.searchResults_top .audioResult{padding-top: 9px; background-position: left 8px;}
html>/**/body div.searchResults_top .bookResult{padding-top: 9px; background-position: left 8px;}
html>/**/body div.searchResults_top .journalResult{padding-top: 9px; background-position: left 8px;}
html>/**/body div.searchResults_top .mapResult{padding-top: 9px; background-position: left 8px;}
html>/**/body div.searchResults_top .otherResult{padding-top: 9px; background-position: left 8px;}
html>/**/body div.searchResults_top .textResult{padding-top: 9px; background-position: left 8px;}
html>/**/body div.searchResults_top .text_resourceResult{padding-top: 9px; background-position: left 8px;}
html>/**/body div.searchResults_top .videoResult{padding-top: 9px; background-position: left 8px;}


div.searchResults_top a.title{font: bold 12px verdana; color: #1770B0; background-color: white; padding-right: 4px; text-decoration: none;display:compact}
div.searchResults_top a.title1{font: bold 12px verdana; color: #1770B0; background-color: white; padding-right: 4px; text-decoration: none;width:37em;overflow:hidden;white-space:nowrap;}
div.searchResults_top a.title:hover{color: #F58B21; text-decoration: underline;}
div.searchResults_top a.title span{font-weight: normal;}

div.searchResults_top a.title img{vertical-align: middle;}
div.searchResults_top .author{font: normal 12px verdana; color: #666666;width:37em;overflow:hidden;white-space:nowrap;}
div.searchResults_top .author img{vertical-align: middle; margin: 2px 5px 0px;}
div.searchResults_top .faceHolder{padding-left: 5px; padding-top: 4px; vertical-align: top;}
div.searchResults_top .faceHolder a.DeskbarGreen{display: block; width: 29px; height: 24px; background: url(/primo_library/libweb/images/availble.gif) left top repeat-y; text-decoration: none;}
div.searchResults_top .faceHolder a.DeskbarYellow{display: block; width: 29px; height: 24px; background: url(/primo_library/libweb/images/maybe.gif) left top repeat-y; text-decoration: none;}
div.searchResults_top .faceHolder a.DeskbarRed{display: block; width: 29px; height: 24px; background: url(/primo_library/libweb/images/notavailble.gif) left top repeat-y; text-decoration: none;}

div.searchResults_top .faceHolder a.DeskbarGreenOnline{display: block; width: 29px; height: 24px; background: url(/primo_library/libweb/images/availble_web.gif) left top repeat-y; text-decoration: none;}
div.searchResults_top .faceHolder a.DeskbarYellowOnline{display: block; width: 29px; height: 24px; background: url(/primo_library/libweb/images/maybe_web.gif) left top repeat-y; text-decoration: none;}
div.searchResults_top .faceHolder a.DeskBarRedOnline{display: block; width: 29px; height: 24px; background: url(/primo_library/libweb/images/notavailble_web.gif) left top repeat-y; text-decoration: none;}
div.searchResults_top .faceHolder a:hover{background-position: left 24px;}

div.dropDown_tooltip{position: absolute; left: 0px; top: 0px; border: 1px solid #5AA7CE; background-color: white; width: 286px; padding: 5px 2px 4px 2px; visibility: hidden;}
div.dropDown_tooltip strong{display: block; font: normal 13px arial; color: #057BB6; padding-left: 6px; margin-top: 2px; cursor: default;}
div.dropDown_tooltip ul{margin: -3px 0px 0px 0px; padding: 0px; list-style: none;}
div.dropDown_tooltip li{margin: 0px 0px 0px 0px; padding: 0px; height: 15px;}
div.dropDown_tooltip a{display: block; margin: 0px; height: 15px; font: normal 12px arial; color: black; text-decoration:none; padding-left: 16px;}
div.dropDown_tooltip a:hover{background-color: #DAE8F2;}
div.dropDown_tooltip a.selected{background: #DAE8F2 url(/primo_library/libweb/images/tooltip_arr.gif) 8px 3px no-repeat;}
div.dropDown_tooltip a.otherLib{color: #057BB6;padding-left: 6px; margin-top: 3px;}
div.dropDown_tooltip a.otherLib:hover{background-color: white; color: #F58B21; text-decoration: underline;}

/* simpler scope form */

form input.searchText2{font: normal 13px arial; color: black; width: 250px; vertical-align: middle;}
form select.scopeSelect{font: normal 13px arial; width: 150px; color: black; vertical-align: middle;}
form input.submit3{width: 60px; vertical-align: middle; font: normal 13px arial;}