/***
 * utility classes - especially useful for simple custom layouts.
 ***/
.EXLOffstage {
	position: absolute;
	left: -200em;
	width: 100em;
}
.EXLFloatLeft {
	float:left;
}
.EXLFloatRight {
	float:right;
}
.EXLCenter{
	margin:auto;
}
.EXLCenterText {
text-align:center;
}
.EXLCenterText * {
text-align:left;
}
.EXLClearLeft {
	clear:left;
}
.EXLClearRight {
	clear:right;
}
.EXLClearBoth {
	clear:both;
}
.EXLOneThirdWidth {
	width:32%;
}
.EXLOneThirdWidthComplement {
	width:64%;
}
.EXLOneQuarterWidth {
	width:23%;
}
.EXLOneQuarterWidthComplement {
	width:73%;
}
.EXLOneFifthWidth {
	width:18%;
}
.EXLOneFifthWidthComplement {
	width:78%;
}
.EXLOneHalfWidth {
	width:48%;
}
.EXLOneHalfWidthComplement {
	width:48%;
}
.EXLOneTenthWidth {
	width:9%;
}
.EXLFullWidth {
	width:100%;
}
.EXLAlmostFullWidth {
	width:96%;
}
/*
	these are reserved classes for javascript height-balancing between divs.
	when developments in css will cause these javascript solutions to be unnecesary,
	the scripts will be
*/
.EXLShareHeight{
}
.EXLBorrowHeight{
}
.EXLHeightSharingContainer{
}
.EXLHeightBorrowingContainer{
}