#defaultOpt{display:block;}
#hidOpt{display:none;}
#test{display:none;}
#titleF{display:none;}
#hldFld{display:none;}
#clFld{display:none;}
#holdField{display:none;}
#collectionField{display:none;}
#sbmtBtn{display:none;}
#helpTxt{
width: 100%;}

#hlpContent{
text-align: center;
position: relative;
top: 100px;
font-size: 18px;
}