html{
background-color:#a7a9ac;
}
body{
	font-family: calibri;
	background-color:white;
	margin:10px;
	min-width: 500px;
	}
.metadata{
	margin-top:5px;
	
	}
#content{
	padding: 5px;
	background: #efefef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 10px;
	margin-right:20px;
	opacity: 0.9;
	
	}
.mapImg{
	margin-left:30px;
	}

#inner{
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	}
.label{
	font-weight: 700;
	}
#logo{
	position:relative;
	top:10px;
	left:10px;
	}
.floor{
	padding:10px;
	font-size:1.3em;
	font-weight: 700;
	}