TABLE {
	FONT-SIZE: 90%; WIDTH: 100%;
}
FORM {
	MARGIN: 0px
}
TD {
	VERTICAL-ALIGN: top
}
IMG {
	border:none
}
UL {
	LIST-STYLE-TYPE: none
}
H2 {
	MARGIN: 0px; COLOR: #000000
}
H3 {
	MARGIN: 0px; COLOR: #000000
}
H4 {
	MARGIN: 0px 0px 4px;
}
H5 {
	MARGIN: 20px 0px 5px; COLOR: #000000; width:100%; line-height:200%;
}
A {
	COLOR: #0075b0
}
A:hover { text-decoration:underline
}
.offstage {
	LEFT: -100em; WIDTH: 100em; POSITION: absolute
}

.folders_new {
	PADDING-RIGHT: 0px; BACKGROUND:none #ffffff no-repeat left bottom; WIDTH: /*269px*/15%; border:1px solid #d7dde3;
}
.foldersOverflow {
	PADDING-RIGHT: 5px; PADDING-LEFT: 15px; SCROLLBAR-FACE-COLOR: #e5e5e5; PADDING-BOTTOM: 0px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; OVERFLOW: auto; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #1770b2; SCROLLBAR-ARROW-COLOR: #1670af; PADDING-TOP: 9px; SCROLLBAR-TRACK-COLOR: #e5e5e5; SCROLLBAR-DARKSHADOW-COLOR: #1770b2; HEIGHT: 180px
}

.foldersOverflow li{ background-color:#FFFFFF}

.folders_new UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none;height:auto;
}


.folders_new UL A {
	COLOR: #057bb6; TEXT-DECORATION: none
}
.folders_new LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 23px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px; PADDING-TOP: 0px
}
.folders_new LI.unselected {
	PADDING-RIGHT: 0px; PADDING-LEFT: 23px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px; PADDING-TOP: 0px;
}
.folders_new LI A {
	VERTICAL-ALIGN: middle; COLOR: #057bb6; TEXT-DECORATION: none
}
.folders_new LI A:hover {
	COLOR: #f58b21
}
.folders_new LI.selected {
	PADDING-RIGHT: 5px; PADDING-LEFT: 19px; BACKGROUND: url(../images/folders_open.gif) no-repeat left 1px

}
.folders_new LI.unselected {
	PADDING-RIGHT: 5px; PADDING-LEFT: 19px; BACKGROUND: url(../images/folders_close.gif) no-repeat left 1px

}
.folders_new LI.selected A.selectedLink {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 4px; BACKGROUND: url(../images/folders_right.gif) #057bb6 no-repeat right center; PADDING-BOTTOM: 1px; WIDTH: 165px; COLOR: white; PADDING-TOP: 0px
}
.folders_new .folders_nextBranch {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important; LIST-STYLE-TYPE: none! important; important:
}
.folders_new LI UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px 4px; PADDING-TOP: 0px
}
.folders_new LI UL LI {
	PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; MARGIN: 0px; VERTICAL-ALIGN: middle; HEIGHT: auto; important:
}
.folders_new LI UL LI IMG {
	MARGIN: 0px; VERTICAL-ALIGN: middle
}
.folders_new LI UL LI IMG.noteImg {
	MARGIN-LEFT: 0px; CURSOR: pointer
}
.folders_new LI UL LI IMG.folderIcon {
	MARGIN-RIGHT: -4px
}
.folders_new LI UL LI IMG.folderSelected {
	MARGIN-RIGHT: -4px
}
.folders_new LI A.selectedFolder {
	PADDING-RIGHT: 3px; PADDING-LEFT: 4px; background-color:#fffba4; PADDING-BOTTOM: 1px; WIDTH: 120px; COLOR:#000000; PADDING-TOP: 0px; border:0px solid #e1e1e1
}
.folders_new LI UL LI IMG.plus_minusIcon {
	CURSOR: pointer
}
HTML > BODY .folders_new LI UL LI IMG.folderIcon {
	MARGIN-RIGHT: -4px
}
.folders_new LI UL LI INPUT {
	MARGIN: 0px; VERTICAL-ALIGN: middle
}
.folders_new LI UL .noNextBranch {
	PADDING-LEFT: 14px; BACKGROUND: none transparent scroll repeat 0% 0%
}

.folders_new LI UL .noNextBranch input {
	border:1px solid #7f9db9;
}

.folders_new LI UL .noNextBranch_2nd {
	PADDING-LEFT: 30px; BACKGROUND: none transparent scroll repeat 0% 0%
}
.folders_new INPUT.newFolders_input {
	FONT-SIZE: 0.9em; WIDTH: 100px; border:1px solid #7f9db9;
}
.folders_new INPUT {
	FONT-SIZE: 0.9em; WIDTH: 100px; border:1px solid #7f9db9;
}

.folders_new INPUT.newFolders_submit {
	BACKGROUND: url(../images/bg_strip_btn_orange.png);  WIDTH: 51px; COLOR: #ffffff;HEIGHT: 18px; border:1px solid #f4762d; cursor:pointer;FONT-SIZE: 0.9em;
}
.folders_new INPUT.newFolders_submit_o {
	BACKGROUND: url(../images/bg_strip_btn_orange.png);  WIDTH: 51px; COLOR: #ffffff;HEIGHT: 18px; border:1px solid #f4762d;cursor:pointer;FONT-SIZE: 0.9em; padding-bottom:2px;
}
.folders_new .folderActions {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; WIDTH: 100%; PADDING-TOP: 0px; display:block
}

.folders_new .folderActions  ul{
 BORDER-BOTTOM:1px solid #d7dde3 ; PADDING-LEFT: 15px; background-color:#f6f6f6 ; height:23px; padding-top:4px; clear:right
}

.folders_new .folderActions LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 8px 0px 0px; PADDING-TOP: 0px; display:inline-block;
}
.folders_new .folderActions LI A.newFolder_but {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; FONT-SIZE: 2px; BACKGROUND: url(../images/folders_new_but.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; COLOR: #f7f7f7; PADDING-TOP: 2px; HEIGHT: 17px; TEXT-DECORATION: none;
}
.folders_new .folderActions LI A.renameFolder_but {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; FONT-SIZE: 2px; BACKGROUND: url(../images/folders_rename_but.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; COLOR: #f7f7f7; PADDING-TOP: 2px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folders_new .folderActions LI A.moveFolder_but {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; FONT-SIZE: 2px; BACKGROUND: url(../images/folders_move_but.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; COLOR: #f7f7f7; PADDING-TOP: 2px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folders_new .folderActions LI A.copyFolder_but {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; FONT-SIZE: 2px; BACKGROUND: url(../images/folders_copy_but.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; COLOR: #f7f7f7; PADDING-TOP: 2px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folders_new .folderActions LI A.deleteFolder_but {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; FONT-SIZE: 2px; BACKGROUND: url(../images/folders_delete_but.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; COLOR: #f7f7f7; PADDING-TOP: 2px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folders_new .folderActions LI A:hover {
	BACKGROUND-POSITION: left 19px; COLOR: #f7f7f7
}
.folders_new .folderActions LI A.newFolder_butDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; FONT-SIZE: 2px; BACKGROUND: url(../images/folders_new_but_disabled.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; CURSOR: default; COLOR: #f7f7f7; PADDING-TOP: 2px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folders_new .folderActions LI A.renameFolder_butDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; FONT-SIZE: 2px; BACKGROUND: url(../images/folders_rename_but_disabled.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; CURSOR: default; COLOR: #f7f7f7; PADDING-TOP: 2px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folders_new .folderActions LI A.moveFolder_butDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; FONT-SIZE: 2px; BACKGROUND: url(../images/folders_move_but_disabled.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; CURSOR: default; COLOR: #f7f7f7; PADDING-TOP: 2px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folders_new .folderActions LI A.copyFolder_butDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; FONT-SIZE: 2px; BACKGROUND: url(../images/folders_copy_but_disabled.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; CURSOR: default; COLOR: #f7f7f7; PADDING-TOP: 2px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folders_new .folderActions LI A.deleteFolder_butDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; FONT-SIZE: 2px; BACKGROUND: url(../images/folders_delete_but_disabled.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; CURSOR: default; COLOR: #f7f7f7; PADDING-TOP: 2px; HEIGHT: 17px; TEXT-DECORATION: none
}
.noteBubble {
	LEFT: 0px; VISIBILITY: hidden; WIDTH: 320px; POSITION: absolute; TOP: 0px
}
HTML > BODY .noteBubble A.cancelNote {
	MARGIN: 5px 40px 0px 0px
}
.noteBubble A.cancelNote {
	DISPLAY: block; FONT-SIZE: 1px; BACKGROUND: url(../images/cancelx.gif) repeat-y left top; FLOAT: right; MARGIN: 5px 20px 0px 0px; WIDTH: 12px; COLOR: #e2e2de; HEIGHT: 12px; TEXT-DECORATION: none
}
.noteBubble A.cancelNote:hover {
	BACKGROUND-POSITION: left 12px
}
.noteBubble H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; BACKGROUND: url(../images/eshelf_note_top.png) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT-Size:0.9em ; line-height:1.5em; WIDTH: 320px; PADDING-TOP: 20px; HEIGHT: 22px;
}
.noteBubble .noteBubble_content {
	PADDING-RIGHT: 7px; PADDING-LEFT: 20px; BACKGROUND: url(../images/eshelf_note_middle.png) no-repeat left top; PADDING-BOTTOM: 0px; WIDTH: 320px; PADDING-TOP: 6px; WHITE-SPACE: normal! important
}
.noteBubble_content_overflow {
	SCROLLBAR-FACE-COLOR: #f6f6f6; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; OVERFLOW: auto; WIDTH: 285px; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #1770b2; SCROLLBAR-ARROW-COLOR: #1670af; SCROLLBAR-TRACK-COLOR: #f6f6f6; SCROLLBAR-DARKSHADOW-COLOR: #1770b2; HEIGHT: 109px
}
.noteBubble .noteBubble_content TEXTAREA {
	WIDTH: 274px; font-family:Arial; font-size:90%; border:1px solid #e5e5e5;
}
.noteBubble_content_overflow TEXTAREA {
	WIDTH: 274px; font-family:Arial; font-size:90%; border:0px; BACKGROUND: url(../images/eshelf_note_middle.png) no-repeat top; 
}
HTML > BODY .noteBubble .noteSubmit_holder {
	MARGIN-RIGHT: 20px
}
.noteBubble .noteBubble_content .noteSubmit_holder {
	PADDING-RIGHT: 18px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.noteBubble .noteBubble_content INPUT.note_submit {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; WIDTH: 51px; COLOR: #0075b0; BORDER-BOTTOM: 0px; HEIGHT: 18px
}


.noteBubble .noteBubble_content INPUT.note_submit_o {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(../images/folders_submit.gif) repeat-y left 18px; BORDER-LEFT: 0px; WIDTH: 51px;  COLOR: #0075b0; BORDER-BOTTOM: 0px; HEIGHT: 18px; cursor:pointer;
}
.noteBubble .noteBubble_bottom {
	BACKGROUND: url(../images/eshelf_note_bottom.png) no-repeat left top; WIDTH: 320px; HEIGHT: 20px
}
HTML > BODY .noteBubble .editHolder { cursor:pointer;
	MARGIN-RIGHT: 20px
}
.noteBubble .editHolder {
	PADDING-RIGHT: 19px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 13px
}
.noteBubble .editHolder A {
	PADDING-RIGHT: 25px; DISPLAY: inline-block; BACKGROUND: url(../images/eshelf_note_edit.gif) repeat-y right top; TEXT-DECORATION: none
}
.noteBubble .editHolder A:hover {
	BACKGROUND-POSITION: right 30px
}
.noteBubble H3 {
	BEHAVIOR: url(../images/iepngfix.htc)
}
.noteBubble .noteBubble_content {
	BEHAVIOR: url(../images/iepngfix.htc)
}
.noteBubble .noteBubble_bottom {
	BEHAVIOR: url(../images/iepngfix.htc)
}


.folders {
	BACKGROUND:#ffffff; WIDTH: 220px; border:1px solid #d7dde3
}
.folders UL {
	LIST-STYLE-IMAGE: url(../images/folders_close.gif); MARGIN: 10px 5px 0px 35px
}
.folders UL A {
	COLOR: #057bb6; TEXT-DECORATION: none
}
.folders LI {
	PADDING-LEFT: 4px; MARGIN-BOTTOM: 5px; VERTICAL-ALIGN: middle
}
.folders LI.selected {
	BACKGROUND: url(../images/folders_right.gif) #057bb6 no-repeat right 50%; LIST-STYLE-IMAGE: url(../images/folders_open.gif); COLOR: white
}
.folder_details .newManage_buts {

}
.folder_details .newManage_buts LI {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; float:left; line-height:100%
}
.folder_details A.eShelf_cut_but {
PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; BACKGROUND: url(../images/item_cut_but.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; COLOR: transparent; PADDING-TOP: 4px; HEIGHT: 17px; TEXT-DECORATION: none;font-size:0px; color:#fcfcfd;
 }
.folder_details A.eShelf_copy_but {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px;  BACKGROUND: url(../images/item_copy_but.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; COLOR:transparent; PADDING-TOP: 4px; HEIGHT: 17px; TEXT-DECORATION: none;font-size:0px; color:#fcfcfd;
}
.folder_details A.eShelf_paste_but {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; BACKGROUND: url(../images/item_paste_but.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; COLOR:transparent; PADDING-TOP: 4px; HEIGHT: 17px; TEXT-DECORATION: none;font-size:0px; color:#fcfcfd;
}
.folder_details A.eShelf_delete_but {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; BACKGROUND: url(../images/item_delete_but.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; COLOR:transparent; PADDING-TOP: 4px; HEIGHT: 17px; TEXT-DECORATION: none;font-size:0px; color:#fcfcfd;
}
.folder_details .newManage_buts A:hover {
	BACKGROUND-POSITION: left 19px; COLOR: #f7f7f7
}
.folder_details A.eShelf_cut_butDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px;  BACKGROUND: url(../images/item_cut_but_disabled.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; CURSOR: default; COLOR: #d4d4d4; PADDING-TOP: 4px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folder_details A.eShelf_copy_butDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; BACKGROUND: url(../images/item_copy_but_disabled.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; CURSOR: default; COLOR: #d4d4d4; PADDING-TOP: 4px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folder_details A.eShelf_paste_butDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px; BACKGROUND: url(../images/item_paste_but_disabled.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; CURSOR: default; COLOR: #d4d4d4; PADDING-TOP: 4px; HEIGHT: 17px; TEXT-DECORATION: none
}
.folder_details A.eShelf_delete_butDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 2px;  BACKGROUND: url(../images/item_delete_but_disabled.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 21px; CURSOR: default; COLOR: #d4d4d4; PADDING-TOP: 4px; HEIGHT: 17px; TEXT-DECORATION: none
}

/** html .folder_details A.eShelf_cut_but {font-size:0px; color:#fcfcfd; }
* html .folder_details A.eShelf_copy_but {font-size:0em; color:#fcfcfd}
* html .folder_details A.eShelf_paste_but {font-size:0em; color:#fcfcfd}
* html .folder_details A.eShelf_delete_but {font-size:0em; color:#fcfcfd}
*/
.folder_details A.eShelf_cut_butDisabled:hover {
	COLOR: #d4d4d4
}
.folder_details A.eShelf_copy_butDisabled:hover {
	COLOR: #d4d4d4
}
.folder_details A.eShelf_paste_butDisabled:hover {
	COLOR: #d4d4d4
}
.folder_details A.eShelf_delete_butDisabled:hover {
	COLOR: #d4d4d4
}
.folder_details {
	PADDING-LEFT: 10px;
}
.folder_details H5 {
	FONT-SIZE:100%; MARGIN: 0px 0px 0px 0px; COLOR: #000000; text-indent:22px
}


.folder_details TABLE.folderName {
	BACKGROUND: #f6f6f6; border:1px solid #d7dde3; height:22px;
}
.folder_details TABLE.auto {
	WIDTH: auto! important
}
.folder_details .buttonsUl {
	PADDING-RIGHT: 10px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 3px;
}
.folder_details UL {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
}
.folder_details LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.folder_details SELECT {
	FONT: 0.9em arial; MARGIN-LEFT: 3px; VERTICAL-ALIGN: middle
}
.folder_details OPTION.firstx {

}
.folder_details .ulTd {
	PADDING-RIGHT: 0px; PADDING-LEFT: 25px; PADDING-BOTTOM: 0px; PADDING-TOP: 1px
}
.folder_details .selectWidth {
	FONT-SIZE:90%; WIDTH:auto;
}
.folder_details .selectWidth {
	FONT-SIZE:90%; WIDTH:auto;
}

.folder_details .selectWidth select {
border:1px solid #8fb9d0

}



.folder_details .selectWidth IMG {
	VERTICAL-ALIGN: middle
}
.folder_details LABEL {
	MARGIN-TOP: 3px; PADDING-LEFT: 5px; FLOAT: left; VERTICAL-ALIGN: middle
}
.folderName_divider {
	BORDER-RIGHT: #d7dde3 1px solid; FONT-SIZE: 2px; BORDER-LEFT: #d7dde3 1px solid; LINE-HEIGHT: 2px; HEIGHT: 2px; BACKGROUND-COLOR: white! important
}
.eShelf_error {
	PADDING:6px 0px 6px 45px; background-color:#FFFBA4; FONT: bold 0.9em arial; COLOR: #000000; HEIGHT: auto;
}
.folder_details .tableBorder {
	BORDER-RIGHT: #d7dde3 1px solid; BORDER-LEFT: #d7dde3 1px solid; BORDER-BOTTOM: #d7dde3 1px solid; background-color:#FFFFFF;
}
.folder_details .itemsList {
	MARGIN-TOP: 0px; SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; OVERFLOW: auto; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #1770b2; SCROLLBAR-ARROW-COLOR: #1670af; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #1770b2; HEIGHT: 150px
}
.folder_details .itemsList_noOverflow {
	MARGIN-TOP: 0px
}

.folder_details .itemsListTH  { background-color:#FFFFFF;

}


.folder_details .itemsListTH TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 6px; BORDER-BOTTOM: #e0e2e5 1px solid; TEXT-ALIGN: left;
}
.folder_details .itemsListTH A {
	TEXT-DECORATION: none
}
.folder_details .itemsListTH {
	TABLE-LAYOUT: fixed; WIDTH: 99%! important;
}
.folder_details .itemsListTable {
	TABLE-LAYOUT: fixed; WIDTH: 99%! important;background-color:#FFFFFF;
}
.folder_details .itemsListTable TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; CURSOR: pointer; COLOR: black; PADDING-TOP: 0px; HEIGHT:auto; BORDER-BOTTOM: #e0e2e5 1px solid;
}
.folder_details .itemsList IMG {
	VERTICAL-ALIGN: middle; display:none
}
.folder_details .itemsList img.noteImg { display:inline}

.folder_details .itemsList_left {
	BORDER-LEFT: white 10px solid; WIDTH: 45px! important
}
.folder_details .itemsList_right {
	BORDER-RIGHT: white 10px solid
}
.folder_details INPUT.chkbox {
	MARGIN-TOP: -2px; MARGIN-LEFT: -2px; WIDTH: auto
}
.folder_details .query {
	OVERFLOW: hidden; WIDTH: 75%; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.folder_details .query2 {
	WIDTH: 70%! important; TEXT-ALIGN: left
}
.folder_details INPUT.small {
	FONT: 1em/1em Arial, sans-serif; WIDTH: 4em
}
.folder_details .save_alert {
	WIDTH: 18%; WHITE-SPACE: nowrap
}
.folder_details .rss {
	WIDTH: 5%; WHITE-SPACE: nowrap
}
.folder_details .delete {
	WIDTH: 13%; WHITE-SPACE: nowrap
}
.folder_details .update_alert {
	WIDTH: 20%; WHITE-SPACE: nowrap
}
.folder_details .type {
	OVERFLOW: hidden; WIDTH: 16%! important; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.folder_details .author {
	OVERFLOW: hidden; WIDTH: 40%! important; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left;
}
.folder_details .title {
	OVERFLOW: hidden; WIDTH: 38%! important; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.folder_details .inTD {
	OVERFLOW: hidden; WIDTH: 20%! important; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.folder_details .alertTD {
	OVERFLOW: hidden; WIDTH: 20%! important; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; TEXT-ALIGN: left
}
.folder_details .rssTD {
	WIDTH: 45px! important
}
.folder_details .added {
	WIDTH: 130px; WHITE-SPACE: nowrap! important
}
.folder_details .note {
	WIDTH: 10%! important; WHITE-SPACE: nowrap! important
}
.folder_details .selected TD {
	BACKGROUND-COLOR: #fffba4
}
.folder_details .selected .itemsList_left {

}
.folder_details .selected .itemsList_left input{ margin-left:0.5em;}
.folder_details .itemsList_left input{ margin-left:0.5em; }

.folder_details .overTR TD {
	COLOR: #f58b21
}
.folder_details .titleLink {
	COLOR: black; TEXT-DECORATION: none
}
.iframex {
	MARGIN: 5px 0px 0px 0px; WIDTH:100%; HEIGHT: 350px; float:right;
}
.eShelf_table {
	MARGIN-TOP: 20px
}


.folder_details .draggable {
	FONT-SIZE: 1px; BACKGROUND: url(../images/drag_arrow.gif) #ededed no-repeat center bottom; CURSOR: n-resize; HEIGHT: 10px; border:1px solid #d7dde3; border-top:0px;
}
.noJS_form {
	WIDTH: auto! important
}
.noJS_form LABEL {
	MARGIN-TOP: 0px; FLOAT: none
}
A.eShelf_button {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 15px; FONT-SIZE: 2px; BACKGROUND: url(../images/eshelf.gif) repeat-y left top; PADDING-BOTTOM: 0px; WIDTH: 58px; COLOR: #8c8c8c; PADDING-TOP: 2px; HEIGHT: 19px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.eShelf_button:hover {
	BACKGROUND-POSITION: left 21px; COLOR: #d1c2d6
}
A.eShelf_button2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; FONT-SIZE: 2px; BACKGROUND: url(../images/eshelf.gif) repeat-y left top; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 58px; COLOR: #8c8c8c; PADDING-TOP: 2px; HEIGHT: 19px; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.eShelf_button2:hover {
	BACKGROUND: url(../images/eshelf_o.gif) left 21px; COLOR: #d1c2d6
}
SPAN.eShelf_span {
	MARGIN-TOP: -5px; FLOAT: left; MARGIN-LEFT: 7px; LINE-HEIGHT: 1.1em
}
A.eShelf_email {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; TEXT-DECORATION: none;
}
A.eShelf_print {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; TEXT-DECORATION: none
}

A.eShelf_delete {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; BACKGROUND: url(../images/eshelf_but_r.gif) #c6b8c9 no-repeat right center; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.eShelf_email SPAN {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; FONT: 0.9em; CURSOR: pointer;  PADDING-TOP: 0px
}
A.eShelf_email SPAN:hover {
	TEXT-DECORATION: underline;
}
A.eShelf_print SPAN {
	PADDING-RIGHT: 10px; DISPLAY: inline-block; PADDING-LEFT: 10px; PADDING-BOTTOM: 2px; FONT:0.9em; CURSOR: pointer;  PADDING-TOP: 0px
}
A.eShelf_print SPAN:hover {
	TEXT-DECORATION: underline;
}


A.eShelf_delete SPAN {
	PADDING-RIGHT: 18px; DISPLAY: inline-block; PADDING-LEFT: 32px; BACKGROUND: url(../images/eshelf_but_delete.gif) no-repeat left center; PADDING-BOTTOM: 2px; FONT:0.9em; CURSOR: pointer; COLOR: #704a7c; PADDING-TOP: 0px
}
A.eShelf_emailDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; BACKGROUND: url(../images/eshelf_but_r_disabled.gif) #d4d4d4 no-repeat right center; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 0px; CURSOR: default; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.eShelf_printDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; BACKGROUND: url(../images/eshelf_but_r_disabled.gif) #d4d4d4 no-repeat right center; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 0px; CURSOR: default; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.eShelf_smsDisabled {
	PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-LEFT: 0px; BACKGROUND: url(../images/eshelf_but_r_disabled.gif) #d4d4d4 no-repeat right center; MARGIN-BOTTOM: 3px; PADDING-BOTTOM: 0px; CURSOR: default; PADDING-TOP: 0px; TEXT-DECORATION: none
}
A.eShelf_emailDisabled SPAN {
	PADDING-RIGHT: 20px; DISPLAY: inline-block; PADDING-LEFT: 30px; BACKGROUND: url(../images/eshelf_but_email_disabled.gif) no-repeat left center; PADDING-BOTTOM: 2px; FONT: bold 0.9em; COLOR: #999999; PADDING-TOP: 0px
}
A.eShelf_printDisabled SPAN {
	PADDING-RIGHT: 17px; DISPLAY: inline-block; PADDING-LEFT: 33px; BACKGROUND: url(../images/eshelf_but_print_disabled.gif) no-repeat left center; PADDING-BOTTOM: 2px; FONT: bold 0.9em; COLOR: #999999; PADDING-TOP: 0px
}
A.eShelf_smsDisabled SPAN {
	PADDING-RIGHT: 17px; DISPLAY: inline-block; PADDING-LEFT: 33px; BACKGROUND: url(../images/eshelf_but_sms_disabled.gif) no-repeat left center; PADDING-BOTTOM: 2px; FONT: bold 0.9em; COLOR: #999999; PADDING-TOP: 0px
}
A.eShelf_delete:hover SPAN {
	BACKGROUND: url(../images/eshelf_but_delete_o.gif) no-repeat left center; COLOR: #feb860
}
A.purpleGo {
	DISPLAY: inline-block; FONT-SIZE: 2px; BACKGROUND: url(../images/purple_go.gif) repeat-y left top; VERTICAL-ALIGN: middle; WIDTH: 29px; HEIGHT: 18px; TEXT-DECORATION: none
}

.EXLEshelf {
	MARGIN-TOP: 20px; MARGIN-LEFT: 20px; MARGIN-RIGHT: 20px
}
.EXLEshelfBody {
	TEXT-ALIGN: center
}
.EXLEshelfBody * {
	TEXT-ALIGN: left
}
.EXLEshelfTitle {
	CLEAR: both; MARGIN: auto; display:none
}

.EXLEshelfFolderContents {
	FLOAT: none; WIDTH: auto;
}

.EXLDisplayNone {
	DISPLAY: none
}

#itemsDiv { display:none}
table.main {padding:0px; border-collapse:collapse; border-width:0px;}

.buttonGo { border:1px solid #7f9db9; display:inline-block; width:auto; height:auto;}
.buttonGo a { color:#FFFFFF; background-color:#e87107; padding-left:0.2em; padding-right:0.2em; border:1px solid #ffffff; }

