/* general */
html {font-size: 100%; /* IE hack */ }
body {font: normal 0.75em Verdana, sans-serif; margin: -20px 0px;}
table {font-size: 100%; /* IE hack */ width: 100%}
form {margin: 0}
td {vertical-align: top}
img {border: none}
ul {list-style-type: none}
h2 {color: #704A7C; font: bold 1.7em Tahoma, sans-serif; margin: 0}
h3 {color: #704A7C; font: normal 1.7em Tahoma, sans-serif; margin: 0}
h4 {font: normal 1.5em Tahoma, sans-serif; margin: 0}
h5 {color: #704A7C; font: bold 1.2em Tahoma, sans-serif; margin: 20px 0 5px}
a {color: #1770B0}
a:hover {color: #F58B21}
.righty {text-align: right}
.bottomx{vertical-align: bottom !important;}
.topx{vertical-align: top !important;}

/* header */
.header {background: url('../images/header_bg.jpg') top right no-repeat; height: 79px}
.logo {vertical-align: middle; padding: 0 15px}
a.homepage {display: block; width: 396px; height: 43px; background-image: url('../images/logo.gif'); font-size: 0px; text-decoration: none}
.languages {text-align: right; padding: 5px 10px}
.languages a {color: white; text-decoration: none; font-weight: bold}
.languages a:hover {text-decoration: underline}

/* New Main Menu */
.new_main_menu ul{float: right; background: url(../images/main_menu_bg.jpg) bottom right no-repeat; margin: 0px; padding: 0px; height: 14px;}
* html .new_main_menu li {display: inline; list-style-type: none; background: white; margin-right: 1px;}
HTML>BODY .new_main_menu li {display: inline; list-style-type: none; background: white; margin-right: -3px;}

.new_main_menu li.last{margin-right: 0px !important; padding-right: 1px;}

.new_main_menu a {text-decoration: none; color: #057BB6; font: normal 1em Verdana, sans-serif; padding: 0px 3px 0px 7px;}
.new_main_menu a:hover {color: #F58B21}
.new_main_menu a.selected{font-weight: bold;}

/* search */
.search {background: #DAE8F2 url('../images/search_corner.gif') bottom left no-repeat; padding-bottom: 10px}
.search_bg {background: url('../images/search_bg.gif') top left no-repeat; padding: 0 15px}
.search_bg2 {background: none; padding: 0 15px}
.search form table {width: auto}
.search td {padding: 5px 0; vertical-align: middle}
.search select.blue {font: normal 0.9em Arial, sans-serif; background: #DAE8F2; margin-top: 5px}
.search select.white {font: normal 0.9em Arial, sans-serif; background: white; margin-top: 5px}
.search select.long {font: normal 0.9em Arial, sans-serif; background: #DAE8F2; margin-top: 5px; width: 40.75em;}
.search option.whiteOption{background: #ffffff;}
.search option.blueOption{background: #DAE8F2;}
.search .borderTop{border-top: 1px solid #5AA7CE;}
.search input {font: normal 1.2em Arial, sans-serif; margin: 3px 5px 3px 0; width: 25.4em}

#more_search select {font: normal 1em Verdana, sans-serif; margin: 0}
#more_search input {font: normal 1em Arial, sans-serif; margin: 0; width: 12.6em}
select.fixed {font: normal 1em Arial, sans-serif !important; width: 22em; background: white}
.offstage {position: absolute; left: -100em; width: 100em}

/* Search tile Tabs */
* html .search_tabs{background: white; margin: 0px; padding: 0px; height: 2.7em;}
HTML>BODY .search_tabs{background: white; margin: 0px; padding: 0px 0px 1px 0px; height: 2.7em;}
.search_tabs table{width: auto;}
.search_tabs td{height: 2.5em; background: white url(../images/tabbed_l.gif) top left no-repeat; margin: 0px; padding: 0px; border-bottom: 2px solid white;}
.search_tabs td a{display: block; height: 2.5em; text-align: center; text-decoration: none; padding: 0px 10px 0px 8px; margin: 0px; font-family: verdana; color: #057BB6; background: url(../images/tabbed_r.gif) top right no-repeat;}
.search_tabs td.selected{height: 2.7em; background:#DAE8F2 url(../images/tabbed_selected_l.gif) top left no-repeat; border-bottom: none;}
.search_tabs td.selected a{height: 2.7em; color: #704A7C; background: url(../images/tabbed_selected_r.gif) top right no-repeat;}
.search_tabs td.nonex{height: 2.7em; background: none; border-bottom: none;}
.search_tabs td a.one_liner{height: 1.95em; padding-top: 0.55em;}
.search_tabs td.selected a.one_liner{height: 2.11em; padding-top: 0.59em;}
.search h2 span{font: normal 0.65em Verdana;}
.search h2 span strong{font-weight: normal}

/* White BG for tags and refine lines */
.whiteBg_top{background: url(../images/refine_whiteBg_top.gif) top no-repeat; padding:6px 10px 10px !important; line-height: 20px;}
.whiteBg_bottom{background: url(../images/refine_whiteBg_bottom.gif) bottom no-repeat; width: 475px;}

/* Please Wait - pop up message */
.pleaseWait{visibility: hidden; position: absolute; width: 175px; height: 55px; padding:15px 0px 0px 60px; text-align: left; top: 0px; left: 0px; background: url(../images/pleasewait.gif) top left no-repeat; font: bold 15px tahoma; color: white;}

/* eshelf */
.eShelf {background:#E5E5E5 url('../images/eShelf_corner.gif') bottom right no-repeat; width: 28%}
.eShelf_bg {background:  url('../images/eShelf_bg.gif') top left no-repeat;}
.padTosignin{margin-bottom: 59px;}
.eShelf h3 {background: url('../images/eShelf_top.gif') top right no-repeat; padding: 0 15px}
a.signin {font: normal 0.8em Verdana, sans-serif}

/* results */
.results h2 {background: #FEB458 url('../images/results_r.gif') top right no-repeat; color: white}
.results_corner {background: url('../images/results_l.gif') top left no-repeat; padding-left: 15px}

.results2{background: #FEB458 url('../images/results_r.gif') top right no-repeat;}
.results2 h2{background: url('../images/results_l.gif') top left no-repeat; padding-left: 15px;  color: white;}
.results2 .backTo{display: block; height: 15px; background: url(../images/back_to.gif) right no-repeat; padding-right: 28px; margin: 5px 15px 0px 0px; color: #FFEACC; text-decoration: none; float: right;}
.results2 .backTo:hover{color: #fff; text-decoration: underline;}


/* RSS button on orange title */
.results .rss_table{background: #FEB458 url('../images/results_r.gif') top right no-repeat;}
.results .rss_table h2{color: white; background: url('../images/results_l.gif') top left no-repeat;}
.results .rss_table h2 span.spanx{font: normal 0.65em Verdana;}
.results .rss_table h2 span.spanx strong{font-weight: normal;}
.rss{vertical-align: middle; text-align: right; padding-right: 15px; width: 45px;}
.query{vertical-align: middle; text-align: right;}

/*Did you mean/Show only Tile */
.did {margin: 5px 15px 10px}
.did a {color: #704A7C; font: bold 1.2em Verdana, sans-serif}
.did ul {margin: 0 10px; list-style-image: url('../images/bullet_error.gif'); line-height: 150%}
.did option.orange{background: #FFE5BA;}
.show_only {font-weight: bold; padding-left: 15px}
.show {font-weight: bold; display: inline}
.show li {display: inline; background: url('../images/show_l.gif') center left no-repeat; padding-left: 20px; margin-right: 10px}
.show a {background: #CAE4F1 url('../images/show_r.gif') center right no-repeat; padding-right: 8px; text-decoration: none}

/* items */
.itemsTable .fat {font-weight: bold}
.itemsTable .title {padding-right: 10px}
.itemsTable .number {background: url('../images/item_bg.gif') top left no-repeat; color: #1770B0; font: normal 0.8em Verdana, sans-serif; padding: 0 10px; text-align: left; margin: 0px 0px 15px -21px;}
.itemsTable .type {border-left: 1px solid #D1E2EF; background: url('../images/item_bg.gif') bottom left no-repeat; text-align: center; padding: 0px 20px 0px 21px; font-size: 0.9em}
.itemsTable .typeNone {border: none; text-align: center; vertical-align: middle; padding: 0px 20px 0px 13px; font-size: 0.9em; color: black;}
.itemsTable .cover {border-right: 1px solid #D1E2EF; background: url('../images/item_bg.gif') top right no-repeat; text-align: center; vertical-align: middle; padding: 0px 10px;}
.itemsTable .coverNone{text-align: center; vertical-align: middle; padding: 0px 10px;}
.itemsTable .author{margin-top: 5px; color: black;}
.itemsTable .details {color: #909090;}
.itemsTable .details a.multiple{display: block; height: 17px; width: 250px; background: url(../images/multiple_o.gif) left top no-repeat; margin-top: 2px; padding-left: 35px;}
.itemsTable .details a.multiple:hover{background: url(../images/multiple.gif) left top no-repeat;}
a.getItGreen{float: right; background: white; padding: 4px 0px 0px 6px; color: #179C72; font: bold 1.2em/1em verdana; text-decoration: none;}
a.getItRed{float: right; background: white; padding: 4px 0px 0px 6px; color: #C74306; font: bold 1.2em/1em verdana; text-decoration: none;}
a.getItGreen:hover, .itemsTable a.getItRed:hover{color: #F58B21}
a.getItGreen span, .itemsTable a.getItRed span{font: normal 0.8em/1em verdana !important;}
a.getItGreen span span, .itemsTable a.getItRed span span{font: normal 1em/1em verdana !important; text-decoration: underline !important; padding-right: 0px;}
.itemsTable .border{background: url(../images/blue_border2.gif) bottom repeat-x; margin: 3px 0px 0px -3px; color: #704A7B; line-height: 22px;}
.itemsTable .border span{background-color: #ffffff; padding-right: 6px;}




body.emailTable{margin: 20px;}

.check {vertical-align: bottom; color: #704A7C; padding: 0 5px; white-space: nowrap}
a.toeshelf {display:-moz-inline-block; display:-moz-inline-box; display:inline-block;  background: url('../images/CheckboxUnchecked.gif') left no-repeat; height: 16px; padding-left: 25px; vertical-align: middle; color: #704A7C; white-space: nowrap; text-decoration: none}
a.toeshelf:hover {background: url('../images/CheckboxUnchecked_o.gif') left no-repeat; text-decoration: underline}
a.offeshelf {display:-moz-inline-block; display:-moz-inline-box; display:inline-block; background: url('../images/CheckboxChecked.gif') left no-repeat; height: 16px; padding-left: 25px; vertical-align: middle; color: #704A7C; white-space: nowrap; text-decoration: none}
a.offeshelf:hover {background: url('../images/CheckboxChecked_o.gif') left no-repeat; text-decoration: underline}
.getit {vertical-align: bottom; text-align: right}
.getit a {display: block; font-weight: bold; width: 130px; height: 19px; padding: 0 47px 0 0; color: #704A7C; text-decoration: none; background: url('../images/getit.gif') bottom right no-repeat; white-space: nowrap}
.getit a:hover {background: url('../images/getit_o.gif') bottom right no-repeat}
.cover {border-right: 1px solid #D1E2EF; background: url('../images/item_bg.gif') top right no-repeat; text-align: right; vertical-align: middle; padding: 0 10px;}
.half_cover{border-right: 1px solid #D1E2EF;text-align: right; vertical-align: middle; padding: 0 10px;}
.spacer {height: 33px; background: url('../images/item_bg.gif') top right no-repeat}
.previous {width: 90px}
a.previous {display: block; width: 60px; height: 24px; text-align: right; background: url('../images/previous.gif') left no-repeat; text-decoration: none; padding: 8px 5px 0 30px}
a.previous:hover {background: url('../images/previous_o.gif') left no-repeat}
.p_no {display: block; width: 60px; height: 24px; text-align: right; background: url('../images/previous_no.gif') left no-repeat; text-decoration: none; padding: 8px 5px 0 30px; color: #B7B7B7}
.res_num {background: url('../images/item_bg.gif') center repeat-x; text-align: center; vertical-align: middle}
.res_num span {background: white; padding: 0 5px; color: #909090}
.next {width: 65px}
a.next {display: block; width: 35px; height: 24px; background: url('../images/next.gif') right no-repeat; text-decoration: none; padding: 8px 30px 0 5px}
a.next:hover {background: url('../images/next_o.gif') right no-repeat}
.n_no {display: block; width: 35px; height: 24px; background: url('../images/next_no.gif') right no-repeat; text-decoration: none; padding: 8px 30px 0 5px; color: #B7B7B7}

.bull_top{border-left: 1px solid #D1E2EF; background: url('../images/item_bg.gif') top left no-repeat; padding: 6px 10px 0px; text-align: center;}
.bull_top_empty{border-left: 1px solid #D1E2EF; background: url('../images/item_bg.gif') top left no-repeat; padding: 0px 10px 0px; text-align: center;}
.bull_bottom {border-left: 1px solid #D1E2EF; background: url('../images/item_bg.gif') bottom left no-repeat; text-align: center; padding: 0px 10px; vertical-align: bottom;}
.bull_padTop td{padding-top: 19px;}
.bull_padTop_empty td{padding: 0px;}
.details2{vertical-align: bottom; background: url(../images/blue_border.gif) bottom repeat-x;}
.details2 span{background-color: #ffffff; color: #1770B0; padding-right: 2px;}

/* refines */
.refines{background: #F7F7F7 url('../images/refines_b.gif') bottom right no-repeat; line-height: 140%; padding: 0 20px}
.refines h3 {background: url('../images/refines_t.gif') top right no-repeat; margin: 0 -20px 5px 0}
.refines ul {margin: 0; padding: 0; list-style: none; font-weight: bold}
.refines ul ul{margin: 0 0 20px 10px; list-style-image: url('../images/bullet.gif'); font-weight: normal}
.refines ul ul.other  {margin: 0px 0px 20px 1px; padding: 0; list-style-image: none !important; font-weight: normal;}
.refines ul ul.other ul{margin: 0px 0px 0px 17px; list-style-image: none !important;}
.refines ul ul.other ul ul{margin: 0px 0px 0px 14px; list-style-image: url('../images/bullet.gif') !important; font-weight: normal; display: none;}
.refines ul ul.other ul ul a{padding-left: 2px;}
.refines a.plus {background: url(../images/plus.gif) top left no-repeat; padding-left: 16px;}
.refines a.minus {background: url(../images/minus.gif) top left no-repeat; padding-left: 16px;}
li.more {list-style-image: url('../images/more.gif'); margin-left: 15px; padding-bottom: 2px;}
li.more a {color: #704A7C}

/* ideas */
.ideas {background: #DAE8F2 url('../images/search_corner.gif') bottom left no-repeat; line-height: 200%; padding: 0 15px;}
.ideas h3 {background: url('../images/ideas.gif') top left no-repeat; margin: 0 -15px; padding: 2px 15px}
.ideas ul {margin: 0 20px 15px 17px; list-style-image: url('../images/bullet_idea.gif'); line-height: 200%}

/* related */
.related {background: #DAE8F2 url('../images/related_corner.gif') bottom right no-repeat; line-height: 140%; padding: 0 15px}
.related h3 {background: url('../images/related.gif') top right no-repeat; margin: 0 -15px; padding: 2px 15px 5px;}
.related ul {margin: 0; padding: 0; list-style: none; font-weight: normal}
.related ul ul {margin: 0 0 20px 10px; list-style-image: url('../images/bullet.gif'); font-weight: normal}
.related_tagging {background: #DAE8F2 url('../images/related_corner.gif') bottom right no-repeat; line-height: 140%; padding:0 0 0 15px;}
.related_tagging .tagging_title{background: url('../images/related.gif') top right no-repeat; margin: 0px;}
.related_tagging h3 {padding: 2px 12px 5px 0px;}
.related_tagging ul {margin: 0; padding: 0; list-style: none; font-weight: normal}
.related_tagging ul ul {margin: 0 0 20px 10px; list-style-image: url('../images/bullet.gif'); font-weight: normal}
.related .whatis{text-align: right; padding:8px 5px 0px 0px !important;}

/* full details */
.fulldetails {padding: 0 15px}
.fulldetails img {padding-right: 15px}
.fulldetails_right{padding-right: 0px !important;}

.fulldetails table td {vertical-align: bottom}
ul.detailed {margin-left: 15px; list-style-image: url('../images/detail_bullet.gif')}
.description {float: left; line-height: 130%; width: 65%}
li.b1 {margin: 0 0 0 15px; list-style-image: url('../images/b1.gif')}
li.b2 {margin: 0 0 0 15px; list-style-image: url('../images/b2.gif')}
li.b3 {margin: 0 0 0 15px; list-style-image: url('../images/b3.gif')}
li.b4 {margin: 0 0 0 15px; list-style-image: url('../images/b4.gif')}
li.b5 {margin: 0 0 0 15px; list-style-image: url('../images/b5.gif')}

.results_corner_with_border {background: url(../images/results2_l.gif) top left no-repeat; padding-left: 15px; width: 440px;}
.fulldetails .briefContent{margin: 0px 0px 7px;}
.fulldetails .otherBullets{margin-top: 7px;}
.fulldetails a.multiple{display: block; height: 16px; width: 220px; background: url(../images/multiple2.gif) left top no-repeat; margin-top: 2px; padding-left: 35px;}
.fulldetails a.multiple:hover{background: url(../images/multiple2_o.gif) left top no-repeat;}
.fulldetails a.outsider{display: block; height: 16px; width: 220px; background: url(../images/outsider2.gif) left top no-repeat; margin-top: 2px; padding-left: 35px;}
.fulldetails a.outsider:hover{background: url(../images/outsider2_o.gif) left top no-repeat;}
.fulldetails .border{margin-bottom: -3px;}

.fulldetails .coverFloat_right{float: right; margin: 0px -15px 10px 20px;}
.fulldetails .coverFloat_left{float: left; margin: 0px 0px 5px 0px;}
.fulldetailsContent_left{float: left;}

.borderPad{background: url(../images/blue_border2.gif) bottom repeat-x; margin: 9px 0px 36px -3px; color: #704A7B; line-height: 22px; clear: both}
.borderPad span{background-color: #ffffff; padding-right: 6px;}

.fulldetails table.Available {width: auto}
.fulldetails .greenAvailable{color: #179C72; font: bold 1.1em verdana; vertical-align: top; padding: 0px 15px 0px 0px;}
.fulldetails .yellowAvailable{color: #F9B930; font: bold 1.1em verdana; vertical-align: top; padding: 0px 15px 0px 0px;}
.fulldetails .redAvailable{color: #C74306; font: bold 1.1em verdana; vertical-align: top; padding: 0px 15px 0px 0px;}
.fulldetails .purpleAvailable{color: #704A7C; font: bold 1.1em verdana; vertical-align: top; padding: 0px 15px 0px 0px;}

.fulldetails ul.green {margin: 0px 0px 17px 15px; list-style-image: url('../images/green_bullet.gif');}
.fulldetails ul.yellow {margin: 0px 0px 17px 15px; list-style-image: url('../images/yellow_bullet.gif') !important;}
.fulldetails ul.red {margin: 0px 0px 17px 15px; list-style-image: url('../images/red_bullet.gif') !important;}
.fulldetails ul.purple {margin: 0px 0px 0px 15px; list-style-image: url('../images/purple_bullet.gif') !important;}
.fulldetails li{margin-bottom: 5px;}


/* Commands Tile  */
.operatives2{background: #F7F7F7 url('../images/refines_b.gif') bottom right no-repeat; padding: 0px;}
.operative_corner{background: url('../images/refines_t.gif') top right no-repeat; padding: 3px 13px 0px 10px;}
.operatives2 select{width: 9.5em; font: normal 0.9em arial; margin-left: 0px;}
.operatives2 select.pushto{width: 9.5em; font: normal 0.9em arial; margin-left: 0px;}
HTML>BODY .operatives2 select.pushto{width: 9.5em; font: normal 0.9em arial; margin-left: 0px; background-color: #D2E3F3; color: #704A7C;}
.operatives2 option.firstx{background-color: #D2E3F3; color: #704A7C;}

#saveSel{display: none;}
#saveBut{padding-left: 52px;}

.operatives2 h3 {padding: 2px 12px 7px 0px;}
.operatives2 ul.tagging {margin: 20px 0px 0px 0px; padding: 0; list-style: none; font-weight: normal}
.operatives2 ul.tagging ul {margin: 0 0 20px 10px; list-style-image: url('../images/bullet.gif'); font-weight: normal}
.operatives2 ul.tagging span{font-size: 0.9em; float: right;}
.operatives2 ul.tagging li.more{margin-left: 7px;}

.operatives2 .CloudDiv{margin: 7px 0px 0px 0px; text-align: justify !important;}
.operatives2 a.cloud0{font: normal 0.9em verdana; text-decoration: none;}
.operatives2 a.cloud25{font: bold 1.0em verdana; text-decoration: none;}
.operatives2 a.cloud50{font: normal 1.1em verdana; text-decoration: none;}
.operatives2 a.cloud75{font: bold 1.3em verdana; text-decoration: none;}

.operatives2 .whatis{float: right; padding-right: 0px !important; margin: 6px 0px 0px 0px;}
ul.commandUL{margin-top: 12px;}
ul.commandUL li{margin: 0px 0px 17px  0px}
* html ul.commandUL li{margin: 0px 0px 3px  0px}

a.emailLink{display: block; background: url(../images/email_link.gif) left top no-repeat; padding-left: 24px; text-decoration: none;}
a.printLink{display: block; background: url(../images/print_link.gif) left top no-repeat; padding-left: 24px; text-decoration: none;}
a.emailLink span, a.printLink span{display: block; cursor: pointer; background: #CAE4F1 url('../images/show_r_com.gif') center right no-repeat; width: 52px; height: 16px; padding: 1px 11px 1px 7px; color: #704A7C; font: bold 1em/1.2em tahoma;}
a.smsLink{display: block; background: url(images/sms_link.gif) left top no-repeat; padding-left: 24px; text-decoration: none;}

a.emailLink:hover{background: url(../images/email_link_o.gif) left top no-repeat;}
a.printLink:hover{background: url(../images/print_link_o.gif) left top no-repeat;}
a.emailLink:hover span, a.printLink:hover span{background: #E5E5E5 url('../images/show_r_com_o.gif') center right no-repeat; color: #F58B21}
a.smsLink:hover{background: url(images/sms_link_o.gif) left top no-repeat;}

li.sendTo_li{background: url(../images/send_to_tak.gif) left top no-repeat; padding-left: 24px;}

/*  Review */
.review_form, .added_review{display:none;}
.added_review_open{display:block;}
.review_title{background: #FEB458 url('../images/results_r.gif') top right no-repeat; color: white;}
.review_title .results_corner_with_border {background: url(../images/results2_l.gif) top left no-repeat; padding-left: 15px; width: 100%;}
.review_title h2{color: white;}
.review_title table{width: 100%;}
.review_body{background: #F7F7F7 url('../images/refines_b.gif') bottom right no-repeat;}
.review_body .corner_left{padding: 15px; background: url('../images/review_corner.gif') bottom left no-repeat;}
.review_body_pop table, .review_body table{margin-left: -6px; width: auto;}
.cancel{text-align: right; padding:5px 15px 0px 0px;}
.cancel a{text-decoration: none; color: white; background: url(../images/cancel.gif) right no-repeat; padding: 1px 25px 0px 0px;}
.cancel a:hover{text-decoration: underline; color: white;}
.rating{padding-bottom: 4px;}
.small{padding-bottom: 4px; font: normal 0.8em Verdana, sans-serif;}
.text_limit{width: 90%; margin-bottom: 5px;}
.review_text{height: 100px; width: 100%; border: 1px solid #FEB458;}
div.chkx {margin:0px 0px 7px -4px;}
.saveTd {text-align: right; width: 90%;}
a.save{background: url(../images/save_l.gif) left no-repeat; text-decoration: none; padding-left: 7px;}
a.save span{background: url(../images/save_r.gif) right no-repeat; text-decoration: none; color: #704A7D; padding-right: 7px;}
a.grey_save{background: url(../images/save_grey_l.gif) left no-repeat; text-decoration: none; padding-left: 7px;}
a.grey_save span{background: url(../images/save_grey_r.gif) right no-repeat; text-decoration: none; color: #704A7D; padding-right: 7px;}
a.blue_save{background: url(../images/save_blue_l.gif) left no-repeat; text-decoration: none; padding-left: 7px;}
a.blue_save span{background: url(../images/save_blue_r.gif) right no-repeat; text-decoration: none; color: #704A7D; padding-right: 7px;}



/*review pop up */
body.review {background-color: #E5E5E5; margin: 20px 8px 0px 8px;}
body.review .review_title{background: #FEB458 url('../images/review_title_corner_r.gif') top right no-repeat; color: white;}
body.review .review_title .results_corner_with_border {background: url(../images/review_title_corner_l.gif) top left no-repeat; padding-left: 15px; width: 100%;}
body.review .cancel{text-align: right; padding:5px 15px 0px 0px; float: right;}

body.review .review_body_pop{background-color: #ffffff !important; padding: 15px;}
body.review .rating{padding-top: 4px;}
body.review .small{padding-top: 6px; font: normal 0.8em Verdana, sans-serif;}
body.review ul {margin: 0px 12px; list-style-image: url('../images/bullet_tips.gif'); line-height: 150%}
body.review ul a{color: #704A7C;}
body.review .text_title{margin-bottom: 4px;}

/* What is ? */
.whatis{text-align: right; padding:5px 19px 0px 0px !important;}
.whatis a{text-decoration: none; background: url(../images/whatis.gif) right no-repeat; padding: 1px 28px 0px 0px;}
.whatis a:hover{background: url(../images/whatis_o.gif) right no-repeat;}

/* Table of content  */
.toc_corner_l{background: #ffffff url('../images/toc_corner_l.gif') top left no-repeat;}
.toc_corner_r{background: url('../images/toc_corner_r.gif') top right no-repeat; padding: 15px 10px;}

/* Preferences/Scope page */
.search_bg_pref {background: url('../images/search_bg.gif') top left no-repeat; padding: 0 5px 0 15px}
.search_bg_pref .whatis{float: right;}
.search_bg_pref .hrx{border-top: 1px solid white; height: 1px;}
.PreferTable{margin-left: 0px;}
.PreferTable  td {padding: 5px 10px 0px 0px; white-space: nowrap;}
.thin{font-weight: normal !important;}
.PreferTable input {width: 18.2em !important; margin: 0 !important; padding: 0 !important;}
.PreferTable select {width: 20em !important; margin: 0 !important; padding: 0 !important}
.PreferTable .baba {padding: 7px 5px 0px 0px !important; font-weight: bold !important; white-space: nowrap;}
.PreferTable .baba_additional{padding: 7px 5px 0px 3px !important; font-weight: bold !important; white-space: nowrap;}
.PreferTable .first_tr td {padding: 12px 10px 0 0; white-space: nowrap;}
.PreferTable .first_tr .baba{padding: 15px 5px 0px 0px !important;}
.PreferTable .indent {padding: 5px 10px 0px 12px !important;}
.PreferTable .whatis{text-align: right; padding:5px 0px 0px 0px !important;}
.PreferTable .whatis a{text-decoration: none;}
.PreferTable .whatis img {vertical-align: middle;}
.PreferTable .baba_additional2{padding: 7px 40px 0px 0px !important; font-weight: bold !important; white-space: nowrap;}
.PreferTable .longSave{padding-top: 20px; text-align: right;}
.PreferTable .pad_tr td{padding-top: 7px !important;}


/* tags */
.tags_title{background: #DAE8F2 url('../images/tags_title_corner_r.gif') top right no-repeat; color: white;}
.tags_title .results_corner_with_border {background: url('../images/tags_title_corner_l.gif') top left no-repeat; padding-left: 15px;}
.tags_title table{width: 100%;}
.tags_body{background: url('../images/tag_line_bg.gif') top left no-repeat; width: 100%; padding-top: 3px;}
.tags_body table{vertical-align: top;}
.tags_body h2{color: #057BB6; padding-left:3px; margin-top: 3px; text-align: left !important;}
.tags_body h2 span{font: normal 0.5em Verdana;}
.tags_body ul {margin: 0 0 20px 13px; list-style-image: url('../images/bullet.gif'); font-weight: normal;}
.tags_body ul a.tagsChx{color: #1770B0; text-decoration: underline; line-height: 1.3em;}
.tags_body ul a.tagsChx:hover{color: #F58B21;}
.times{padding-top: 31px; font: normal 0.8em/1.7em Verdana, sans-serif; color: #C8C5C5; width: 10%; white-space: nowrap;}
.RecentTd {width: 22%; padding: 0px 0px 0px 12px;}
.spacerTd{width: 6%;}
.popularTd {width: 30%;}
.popularTd_cloud {text-align: justify; width: 90%; padding-left: 4px;}
.popularTd_cloud a.cloud0{font: normal 0.9em verdana; text-decoration: none;}
.popularTd_cloud a.cloud25{font: normal 1.1em verdana; text-decoration: none;}
.popularTd_cloud a.cloud50{font: normal 1.3em verdana; text-decoration: none;}
.popularTd_cloud a.cloud75{font: normal 1.5em verdana; text-decoration: none;}
.pop_list{display: none;}

.searchTd{width: 240px; background: #F7F7F7 url('../images/searchTd.gif') bottom no-repeat;}
.tags_search_title {background:#057BB6 url('../images/tags_corner_l.gif') top left no-repeat; padding: 0px 0px 0px 15px; width: 225px; text-align: left;}
.tags_search_title h2 {background: url('../images/tags_corner_r.gif') top right no-repeat; color: white; margin: 0px; padding: 0px;}
.searchTd input {font: normal 1.2em Arial, sans-serif; margin: 3px 5px 3px 0; width: 8em}
.searchTd .submitButton{padding: 5px 5px 0px 0px;}
.searchTd table{width: auto;}
.tags_body .previous {width: 114px;}
.tags_body a.previous {display: block; width: 84px; height: 24px; text-align: right; background: url('../images/previous.gif') left no-repeat; text-decoration: none; padding: 8px 5px 0 30px}
.tags_body a.previous:hover {background: url('../images/previous_o.gif') left no-repeat}
.tags_body .p_no {display: block; width: 84px; height: 24px; text-align: right; background: url('../images/previous_no.gif') left no-repeat; text-decoration: none; padding: 8px 5px 0 30px; color: #B7B7B7}
.tags_body .res_num {background: url('../images/item_bg.gif') center repeat-x; text-align: center; vertical-align: middle}
.tags_body .res_num span {background: white; padding: 0 5px; color: #909090;}
.tags_body .next {width: 112px}
.tags_body a.next {display: block; width: 82px; height: 24px; background: url('../images/next.gif') right no-repeat; text-decoration: none; padding: 8px 30px 0 5px}
.tags_body a.next:hover {background: url('../images/next_o.gif') right no-repeat}
.tags_body .n_no {display: block; width: 82px; height: 24px; background: url('../images/next_no.gif') right no-repeat; text-decoration: none; padding: 8px 30px 0 5px; color: #B7B7B7}

/* tags pop up  */
body.tags {background-color: #DAE8F2; margin: 20px 8px 0px 8px;}
body.tags .cancel{text-align: right; padding:4px 10px 0px 0px; float: right;}
body.tags .tags_body_pop{background-color: #ffffff !important; padding: 15px;}
body.tags .tags_body_pop table{margin-top: 10px; width: 90%;}
body.tags input.tags_input{ width: 100%; border: 1px solid #FEB458;}
body.tags .text_title{margin-bottom: 4px;}
body.tags .tags_title{background: #FEB458 url('../images/tags_pop_r.gif') top right no-repeat; color: white;}
body.tags .tags_title .results_corner_with_border {background: url(../images/tags_pop_l.gif) top left no-repeat; padding-left: 15px; width: 100%;}
body.tags .tags_title h2{color: white;}
body.tags .tags_title table{width: 100%;}
.tags_small_title{background: #DAE8F2 url('../images/tags_title_corner_r.gif') top right no-repeat; color: white; padding-right: 15px;}
.tags_small_title h4{background: url('../images/tags_title_corner_l_small.gif') top left no-repeat; color: #057BB6; padding-left: 15px;}
.tags_corner_border{background: url('../images/tags_corner_border.gif') bottom left no-repeat; padding: 12px 0px 15px 11px; width: 30%; }
.tags_corner_border_long{background: url('../images/tags_corner_border.gif') bottom left no-repeat; padding: 12px 0px 15px 11px; width: 45%; }

.brief_details{margin-top: 12px;}
.brief_details img{float: left; margin-right: 10px;}
.brief_details .author{margin-top: 17px;}
.brief_details .details{margin-top: 3px; border: none;}


/* Tags Auto Complete */
.autoComplete{position: absolute; top:0px; left:0px; width: 9.1em; height: 10em; background-color: #E9F1F7; padding: 10px 2px 0px; visibility: hidden;}
.autoComplete a.auto{display: block; line-height: 14px; padding: 0px 0px 3px 8px; width: 100%; background-color: #E9F1F7;}

/* portal */
.tips {margin-bottom: -10px; background: #E9F1F7 url('../images/tips.gif') bottom left no-repeat; border-top: 6px solid white}
.tips td {padding: 7px 15px; width: 50%}
.tips ul {margin: 5px 12px; list-style-image: url('../images/bullet_tips.gif'); line-height: 150%}
.tips a {font-weight: bold}
.featured {border-right: 6px solid white}
.signinto {margin: 22px 0 -10px; background: #EEEEEE url('../images/signinto.gif') bottom right no-repeat; border-top: 6px solid white; padding: 7px 15px}

.signinto h3 {background: none; padding: 0}
.signinto ul {margin: 5px 12px; list-style-image: url('../images/bullet_signinto.gif'); line-height: 150%}

.libraryServices {background:#057BB6 url('../images/tags_corner_l.gif') top left no-repeat; padding: 0px 0px 0px 15px; text-align: left;}
.libraryServices h2 {color: white; margin: 0px; padding: 0px;}
.libraryServices_border{background: url(../images/blue_left_line.gif) left top no-repeat; padding: 7px 20px 0px 15px;}
.libraryServices_border a.broadLink{display: block; cursor: pointer; text-decoration: none; color: black; width: 92%; padding: 0px 60px 20px 0px; background: url(../images/more_icon.gif) right bottom no-repeat;}
.libraryServices_border a.broadLink:hover{background: url(../images/more_icon_o.gif) right bottom no-repeat;}
.libraryServices_border a.broadLink .h3{display: block; color: #704A7C; font: bold 1.4em Tahoma, sans-serif;}
.libraryServices_border a.broadLink:hover .h3{color: #F58B21;}
.more_services{margin-top: 25px; text-align: right; padding-right: 10px;}

.libraryNews { background: #FEB458 url(../images/lib_news_l.gif) top left no-repeat;}
.libraryNews h3{background: url('../images/results_r.gif') top right no-repeat; color: white; padding: 0px 0px 0px 15px;}

.libNews{background: #FFF4D6 url(../images/activity_rb.gif) bottom right no-repeat;}
.libraryNews_border{display: block; background: white url(../images/lib_news_border.gif) left top no-repeat; padding: 7px 10px 0px 15px;}
.libraryNews_border img{margin-left: 5px;}
.libraryNews_border h5{color: #057BB6; margin: 0px 0px 4px 0px; white-space: nowrap;}
.moreBut{text-align: right; padding: 10px 10px 10px 0px; background: none !important;}


.activity_hours div{background: url(../images/activity_border.gif) top left no-repeat; padding: 0px 15px 6px 15px;}
.activity_hours h3{background: url(../images/activity_rt.gif) top right no-repeat; color: #FEB458; padding-top: 2px; margin-right: -15px;}
.activity_hours table{background-color: white; border: 1px solid #FEB458; font-size: 0.9em; margin-top: 14px;}
.activity_hours td{border-bottom: 1px solid #E5E5E5; padding: 3px 0px 3px 5px;}
.activity_hours td.last{border-bottom: none;}
.activity_hours ul{list-style: url(../images/activity_bullet.gif); margin: 6px 0px 12px 13px;}
.activity_hours li{margin-bottom: 5px;}
.activity_hours a{font-weight: bold; color: #057BB6;}


/* remote */
.remote {border-bottom: 3px solid #FEB458}
.at {background: url('../images/primary2.gif') top left no-repeat; padding-left: 15px; font: bold 1.2em/1.9em Tahoma, sans-serif; color: white;}
.at h2 {background: none; font: bold 1.5em Tahoma, sans-serif; color: white;}
.smol {width: 248px}
a.grey {background: url('../images/grey.gif') top left no-repeat; padding-left: 15px; width: 248px; border-bottom: 1px solid white; cursor: text; font: bold 1.5em Tahoma, sans-serif; color: white; display: block; text-decoration: none}
a.grey:hover {color: white}
a.extensive {background: url('../images/extensive2.gif') top left no-repeat; padding-left: 15px; width: 248px; border-bottom: 1px solid #E5E5E5; font: bold 1.2em/1.9em Tahoma, sans-serif; color: #F58B21; display: block; text-decoration: none}
a.extensive:hover {background: url('../images/primary2_sfx.gif') top left no-repeat; color: white}

/* Bottom banner  */
.body_banner{margin-bottom: -20px;}
.banner_L{background: #E5E5E5 url(../images/banner_bottom_l.gif) left bottom no-repeat; margin-bottom: 5px}
.banner_R{background: url(../images/banner_bottom_r.gif) right bottom no-repeat; font: normal 1em tahoma; color: #989898; padding: 7px 0px; text-align: center;}
.banner_R a{text-decoration: none; color: #989898;}
.banner_R strong{padding-right: 2%;}
.banner_R span{padding-right: 2%;}
.Banner_span{font: normal 0.9em tahoma; text-align: center;}
.Banner_span a{color: black !important;}
.Banner_span a.hrefPush{padding-right: 2%;}
.last_update{color: #989898; font: normal 0.9em tahoma; padding: 0px 20px 0px 20px; width: 25%}

/* New Get it window */
body.get_itBody{background-color: #E5E5E5; margin: 10px;}
body.get_itBody table{width: auto;}
body.get_itBody .springer{padding: 0px 0px 0px 10px; background: white url(../images/blue_left_line.gif) left top no-repeat;}
body.get_itBody .whitex{background: white;}
body.get_itBody .details{border-bottom: none;}
body.get_itBody .toc_corner_r{background: url('../images/toc_corner_r.gif') top right no-repeat; padding: 15px 0px 0px;}
body.get_itBody .toc_corner_r img.coverImg{float: left; margin: 0px 10px 0px 15px;}
body.get_itBody .toc_corner_r div{margin-top: 3px;}
body.get_itBody .toc_corner_r .available{height: 21px; padding: 8px 0px 0px 15px; background: #057BB6; color: white; font: bold 1.2em Tahoma, sans-serif; margin-top: 0px;}
body.get_itBody .toc_corner_r .available a{font: normal 0.75em Tahoma, sans-serif; color: white;}
body.get_itBody .toc_corner_r .available a:hover{color: #F58B21;}
body.get_itBody .toc_corner_r a.closeWin{float: right; display: block; height: 15px; background: url(../images/close.gif) right no-repeat; padding-right: 28px; margin-right: 5px; text-decoration: none; }
body.get_itBody .toc_corner_r a.closeWin:hover{text-decoration: underline;}

body.get_itBody a.liTab{background: url('../images/blue_tabbed_l.gif') top left no-repeat; border-bottom: 1px solid #fff; font: bold 15px Tahoma, sans-serif; color: #ffffff; display: block; text-decoration: none; height: 25px; padding: 0px !important; text-align: right;}
body.get_itBody a.liTab span{display: block; background: url('../images/blue_tabbed_r.gif') top right no-repeat; height: 22px; padding: 3px 40px 0px 15px; text-align: left;}
body.get_itBody a.liTab:hover{background: url('../images/blue_tabbed_l_o.gif') top left no-repeat;}
body.get_itBody a.liTab:hover span{background: url('../images/blue_tabbed_r_o.gif') top right no-repeat; cursor: pointer;}
body.get_itBody a.liTab_sfx{background: url('../images/blue_tabbed_l.gif') top left no-repeat; border-bottom: 1px solid #fff; font: bold 15px Tahoma, sans-serif; color: #ffffff; display: block; text-decoration: none; height: 25px; padding: 0px !important;}
body.get_itBody a.liTab_sfx span{background: url('../images/blue_tabbed_sfx_r.gif') top right no-repeat; height: 22px; padding: 3px 105px 0px 15px; text-align: left; display: block;}
body.get_itBody a.liTab_sfx:hover{background: url('../images/blue_tabbed_l_o.gif') top left no-repeat;}
body.get_itBody a.liTab_sfx:hover span{background: url('../images/blue_tabbed_sfx_r_o.gif') top right no-repeat; cursor: pointer;}
body.get_itBody a.selected_liTab{background: url('../images/blue_tabbed_l_o.gif') top left no-repeat; font: bold 15px Tahoma, sans-serif; color: #ffffff; display: block; text-decoration: none; height: 26px;}
body.get_itBody a.selected_liTab span{background: url('../images/blue_tabbed_r_o.gif') top right no-repeat; height: 23px; padding: 3px 40px 0px 15px; text-align: left; display: block;}
body.get_itBody a.selected_liTab_sfx{background: url('../images/blue_tabbed_l_o.gif') top left no-repeat; font: bold 15px Tahoma, sans-serif; color: #ffffff; display: block; text-decoration: none; height: 26px; padding: 0px !important;}
body.get_itBody a.selected_liTab_sfx span{background: url('../images/blue_tabbed_sfx_r_o.gif') top right no-repeat; height: 23px; padding: 3px 105px 0px 15px; text-align: left; display: block;}
body.get_itBody .spring2{padding: 10px 0px 10px 15px; background: white url(../images/blue_left_line.gif) left top no-repeat;}
body.get_itBody .spring2_error{padding: 10px 0px 16px 15px; background: white url(../images/blue_left_line.gif) left top no-repeat;}
body.get_itBody h5{margin-top: 0px;}
body.get_itBody .spring2_error h5{margin-top: 0px; color: #C74306;}
body.get_itBody .spring2 table.pushLeft{margin-left: -12px;}
body.get_itBody table.Available {width: auto}
body.get_itBody .greenAvailable{color: #179C72; font: bold 1.1em verdana; vertical-align: top; padding: 0px 15px 0px 0px;}
body.get_itBody .yellowAvailable{color: #F9B930; font: bold 1.1em verdana; vertical-align: top; padding: 0px 15px 0px 0px;}
body.get_itBody .redAvailable{color: #C74306; font: bold 1.1em verdana; vertical-align: top; padding: 0px 15px 0px 0px;}
body.get_itBody .purpleAvailable{color: #704A7C; font: bold 1.1em verdana; vertical-align: top; padding: 0px 15px 0px 0px;}
body.get_itBody ul.normal{margin: 16px 0px 0px 10px; list-style-image: url('../images/bullet.gif') !important;}
body.get_itBody ul.green {margin: 0px 0px 17px 15px; list-style-image: url('../images/green_bullet.gif') !important;}
body.get_itBody ul.yellow {margin: 0px 0px 17px 15px; list-style-image: url('../images/yellow_bullet.gif') !important;}
body.get_itBody ul.red {margin: 0px 0px 17px 15px; list-style-image: url('../images/red_bullet.gif') !important;}
body.get_itBody ul.purple {margin: 0px 0px 0px 15px; list-style-image: url('../images/purple_bullet.gif') !important;}
body.get_itBody li{margin-bottom: 3px;}

#sfx_advanced{display:none;}

/* new eShelf page */

.eShelf_title{background: #704A7C url(../images/eShelf_right.gif) top right no-repeat; color: white; border-bottom: 2px solid white;}
.eShelf_title .results_corner_with_border {background: url(../images/eShelf_left.gif) top left no-repeat; padding-left: 15px; color: white;}
.eShelf_title .results_corner_with_border span{font-size: 0.8em;}
.eShelf_title .whatis {float: right;}
.eShelf_title .whatis a{color: white; background: url(../images/whatis_purple.gif) right no-repeat;}
.eShelf_title .whatis a:hover{background: url(../images/whatis_purple_o.gif) right no-repeat;}

.folders{width: 220px; background: #E5E5E5 url(../images/eshelf_bl.gif) bottom left no-repeat; }
.folders ul{list-style: url(../images/folders_close.gif); margin: 10px 5px 0px 35px;}
.folders ul a{color: #057BB6; text-decoration: none;}
.folders li{margin-bottom: 5px; vertical-align: middle; padding-left: 4px;}
.folders li.selected{color: white; background: #057BB6 url(../images/folders_right.gif) right no-repeat; list-style: url(../images/folders_open.gif);}

.folder_details {padding-left: 20px;}
.folder_details h5{color: #057BB6; margin: 4px 0px 4px 18px;}
.folder_details table.folderName{background: #E5E5E5;}
.folder_details table.auto{width: auto !important;}
.folder_details .buttonsUl{padding: 3px 8px 2px 0px; display: none;}
.folder_details ul{display: inline; margin: 0px; padding: 0px;}
.folder_details li{display: inline; margin: 0px; padding: 0px;}
.folder_details select{width: 9.5em; font: normal 0.9em arial; margin-left: 8px;}
.folder_details option.firstx{background-color: #C6B8C9; color: #704A7C;}
.folder_details .ulTd{padding: 1px 0px 0px 25px;}
.folder_details .selectWidth{width: 40%;}

.folder_details .tableBorder{border: 1px solid #D1D1D1; border-top: none;}
.folder_details .itemsList{height: 150px; overflow: auto; margin-top: 2px; scrollbar-arrow-color: #1670AF; scrollbar-3dlight-color: #1770B2; scrollbar-highlight-color: #ffffff; scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #ffffff; scrollbar-darkshadow-color: #1770B2; scrollbar-track-color: #ffffff;}
.folder_details .itemsList_noOverflow{margin-top: 2px;}
.folder_details .itemsListTH th{color: #057BB6; text-align: left; border-bottom: 1px solid #D1E2EF; padding: 8px 0px 3px; }
.folder_details .itemsListTH a{text-decoration: none;}
.folder_details .itemsListTH, .folder_details .itemsListTable{width: 97% !important; table-layout:fixed;}
.folder_details .itemsListTable td{background: url(../images/eShelfTR_bg.gif) bottom repeat-x; color: black; height: 26px !important; vertical-align: middle; padding: 0px 0px 4px 0px; cursor: pointer;}
.folder_details .itemsList img{vertical-align: middle;}
.folder_details .itemsList_left{border-left: 14px solid White; width: 25px !important;}
.folder_details .itemsList_right{border-right: 14px solid White;}
.folder_details input.chkbox{margin-top: -2px; margin-left: -2px; width: auto;}
.folder_details .query{width: 75%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .query2{width: 70% !important; text-align: left;}
.folder_details input.small{font: normal 1em/1em Arial, sans-serif; width: 4em;}
.folder_details .save_alert{width: 18%; white-space: nowrap;}
.folder_details .update_alert{width: 20%; white-space: nowrap;}
.folder_details .type{text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .author{width: 15% !important; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .title{width: 28% !important; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .inTD{width: 20% !important; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .alertTD{width: 20% !important; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .rssTD{width: 45px !important;}
.folder_details .added{width: 100px; white-space: nowrap !important;}
.folder_details .note{width: 10% !important; white-space: nowrap !important;}
.folder_details .selected td{background: #F5F5F5 url(../images/eShelfTR_bg.gif) bottom repeat-x; font-weight: bold;}
.folder_details .overTR td{color: #F58B21}
.folder_details .titleLink{color: black; text-decoration: none;}
.iframex {width: 100%; height: 350px; margin: 3px 0px 0px 0px !important;}
.eShelf_table{margin-top: 20px;}
.eShelf_table .mainDetails{border-right: 20px solid white; border-bottom:  20px solid white;}
.eShelf_table .borderBottom{border-bottom:  20px solid white;}
.folder_details .tablePer100{width: 100% !important;}
.folder_details .tablePer100 td{cursor: default !important;}

.folder_details .draggable{background: #e5e5e5 url(../images/drag_arrow.gif) bottom center no-repeat; cursor: N-resize; height: 10px; font-size: 1px;}
.noJS_form{width: auto !important;}
.JS_form{display: none;}

body.query {background-color: #E5E5E5; margin: 20px 8px 0px 8px;}
body.query .eShelf_title{background: #704A7C url(../images/eshelf_right_pop.gif) top right no-repeat; color: white; border-bottom: 2px solid white; text-align: left;}
body.query .eShelf_title .results_corner_with_border {background: url(../images/eShelf_left_pop.gif) top left no-repeat; padding-left: 15px; color: white;}
body.query .body_pop{background-color: #ffffff !important; padding: 15px; text-align: left; }
body.query .body_pop table{margin-left: -6px; width: auto;}
body.query .body_pop table.innerTable{width: auto; margin-left: -4px; margin-top: -5px; margin-right: -5px; margin-bottom: -5px;}
body.query .body_pop td{vertical-align: middle;}
body.query .body_pop td.title{width: 120px;}
body.query input {font: normal 12px Arial, sans-serif; width: 150px;}

body.query .email_results input{margin-left: 19px;}
body.query .RSS_results input{margin-left: 43px;}
body.query .every{width: 20px;}

body.query input.smallq {width: 40px;}
body.query input.radiox {width: auto; margin-left: -4px;}
body.query select {font: normal 1em Arial, sans-serif; width: 5em;}
body.query input.submit2{font: normal 1em Arial, sans-serif; width: 5em;}

/* Print table */
.printTitle{border-bottom: 7px solid #e5e5e5;  }
.printTitle td{padding: 8px 0px 3px;}
.breakPrint{page-break-before: always;}




/* patch for Mozilla */
ul {margin: 0; padding: 0}