/* general */
html {font-size: 100%; /* IE hack */ }
body {font: normal 0.8em arial; margin: -20px 0px;}
table {font-size: 100%; /* IE hack */ width: 100%}
form {margin: 0px;}
td {vertical-align: top}
img {border: none}
ul {list-style-type: none}
h2 {color: #357DCE; font: normal 1.5em Tahoma, sans-serif; margin: 0}
h3 {color: #7F7F7F; font: normal 1.5em Tahoma, sans-serif; margin: 0}
h4 {font: bold 1.25em arial; margin: 0px 0px 4px 0px;}
h5 {color: #7F7F7F; font: bold 1.05em Tahoma, sans-serif; margin: 20px 0 5px}
a {color: #235389}
a:hover {color: #F36E1B;}
/*a:visited {color: #913AAE;}*/

.righty {text-align: right}
.bottomx{vertical-align: bottom !important;}
.topx{vertical-align: top !important;}

/* header */
.header {background: url('../images/primoGrey/header_bg.jpg') top right no-repeat; height: 79px}
.logo {padding: 0px 0px}
a.homepage {display: block; width: 442px; height: 79px; background-image: url('../images/primoGrey/logo.gif'); font-size: 0px; text-decoration: none}
.languages {text-align: right; padding: 5px 10px}
.languages a {color: white; text-decoration: none; font-weight: bold}
.languages a:hover {text-decoration: underline}
.portalHeader{padding-bottom: 20px;}

.languagesDiv{position: absolute; top: 7px; right: 31px; text-align: left;}
.languagesDiv a {color: #357DCE; text-decoration: none; font-weight: bold}
.languagesDiv a:hover {text-decoration: underline}

/* New Main Menu */
.new_main_menu ul{float: right; background: url(../images/primoGrey/main_menu_bg.jpg) bottom right no-repeat; margin: 0px; padding: 0px; height: 14px; font-size: 0.9em;}
* html .new_main_menu li {display: inline; list-style-type: none; background: white; margin-right: 1px;}
HTML>BODY .new_main_menu li {display: inline; list-style-type: none; background: white; margin-right: -3px;}

.new_main_menu li.last{margin-right: 0px !important; padding-right: 1px;}

.new_main_menu a {text-decoration: none; color: #057BB6; font: normal 1em arial, sans-serif; padding: 0px 3px 0px 7px;}
.new_main_menu a:hover {color: #F36E1B}
.new_main_menu a.selected{font-weight: bold;}

/* search */
.search {background: #F1F0E8 url('../images/primoGrey/search_corner.gif') bottom left no-repeat; padding-bottom: 10px}
.search_bg {background: url('../images/primoGrey/search_bg.gif') top left no-repeat; padding: 0 15px}
.search_bg2 {background: none; padding: 0 15px}
.search form table {width: auto}
.search td {padding: 5px 0; vertical-align: middle}
.search select.blue {font: normal 0.9em Arial, sans-serif; background: #DAE8F2; margin-top: 0px; margin-bottom: 3px;}
.search select.white {font: normal 0.9em Arial, sans-serif; background: white; margin-top: 0px; margin-bottom: 3px;}
.search select.grey {font: normal 0.9em Arial, sans-serif; background: #eee; margin-top: 0px; margin-bottom: 3px;}

.search select.long {font: normal 0.9em Arial, sans-serif; background: #DAE8F2; margin-top: 0px; margin-bottom: 3px; width: 40.75em;}
.search option.whiteOption{background: #ffffff;}
.search option.lightGreyOption{background: #fff; color: #ccc;}
.search option.greyOption{background: #fff; color: #eee; }
.search option.blueOption{background: #DAE8F2;}
.search .borderTop{border-top: 1px solid #5AA7CE;}
.search input {font: normal 1.2em Arial, sans-serif; margin: 3px 5px 3px 0; width: 25.4em}
.smallCalendar {font: normal 1.2em Arial, sans-serif; margin: 3px 5px 3px 0; width: 7.2em !important;}

#more_search select {font: normal 1em arial, sans-serif; margin: 0}
#more_search input {font: normal 1em Arial, sans-serif; margin: 0; width: 21.5em;}
select.fixed {font: normal 1em Arial, sans-serif !important; width: 22em; background: white}
.offstage {position: absolute; left: -200em; width: 100em}

/* nerrow search tile */
.search3 {background: #F2F1E9 url('../images/primoGrey/search_corner.gif') bottom left no-repeat; padding-bottom: 0px; vertical-align:top;}
.search3_portal {background: #F2F1E9; padding-bottom: 10px; vertical-align:top; border-right:20px solid #fff;}
.search_bg3 {background: none; padding: 4px 0px 0px 15px; clear: both;}
.search_bg3 .searchLimit{width: 100%; margin-top: 6px; margin-bottom: 10px; padding: 0px;}
.search_bg3 .searchLimit2{width: 100%; margin-bottom: 11px; padding: 0px; font-size: 0.9em;}
.search_bg3 .searchLimit_last{width: 100%; margin-bottom: 5px; padding: 0px; clear: both;}
.search_bg3 input {font: normal 1.2em Arial, sans-serif; width: 49.5%;}
HTML/**/>BODY .search_bg3 input{vertical-align: middle;}
.search_bg3 select{vertical-align: middle; margin-right: 2px;}
.search_bg3 h2{font: normal 1.5em Tahoma, sans-serif; margin-top: 3px; margin-right: 5px; float: left;}
.search_bg3 select.blue {font: normal 0.95em Arial, sans-serif; background: #F2F1E9; margin-top: 0px; margin-bottom: 3px;}
.search3 select.white {font: normal 0.95em Arial, sans-serif; background: white; margin-top: 0px; margin-bottom: 3px;}
.search_bg3 select.grey {font: normal 0.95em Arial, sans-serif; background: #eee; margin-top: 0px; margin-bottom: 3px;}
select.grey {font: normal 0.95em Arial, sans-serif; background: #eee; margin-top: 0px; margin-bottom: 3px;}
.search3 option.whiteOption{background: #ffffff;}
.search3 option.blueOption{background: #F2F1E9;}
.search3 option.lightGreyOption {background: #eee;}
.search3 option.greyOption{background: #fff; color: #aaa; }

.search_bg3 .borderTop{border-top: 1px solid #5AA7CE; padding-top: 5px; display:-moz-inline-block; display:-moz-inline-box; display:inline-block; width: 74%;}

.search3 a.tagTooltip {margin: 0px 0px 0px 0px; background-image: url(../images/primoGrey/whatis_search.gif); width: 1px;}
.search3 .noWrap, .search3_portal .noWrap{white-space: nowrap;}

.tagsTooltip{position: absolute; top: 0px; left: 0px; width: 285px; background: url(../images/primoGrey/tags_tooltip.gif) left bottom no-repeat; visibility: hidden; font-size: 0.9em;}
.tagsTooltip_top{width: 243px; padding: 16px 32px 16px 10px !important; background: url(../images/primoGrey/tags_tooltip_top.gif) left top no-repeat;}
.tagsTooltip div.forExample{padding-top: 6px;}
.tagsTooltip strong{font-weight: bold; color: #235389;}
.tagsTooltip .underHR{text-align: center; border-top: 1px solid #e5e5e5; margin-top: 7px; padding-top: 7px; margin-right: -22px;}

.tagsTooltip2_noJS{font-size: 0.85em; padding: 5px 0px;}
.tagsTooltip2{position: absolute; top: 0px; left: 0px; width: 243px; height: 55px; padding: 16px 32px 10px 10px; background: url(../images/primoGrey/tags_tooltip2.gif) left top no-repeat; visibility: hidden; font-size: 0.90em;}
#tagTooltip_link{visibility: hidden;}


.errorBorder{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; border: 1px solid #c74306; margin: 0px 7px 0px 0px; padding: 0px 0px 0px 0px !important;}
.errorBorder select{margin: -1px 0px 0px 0px !important;}
.errorBorder_query{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; margin: 3px 15px 3px 0px; border: 1px solid #c74306;}
.errorBorder_query input{margin: -1px 0px -1px 0px !important; width: 60% !important;}
.errorMSG{font: bold 14px arial; color: #C74303; margin: 16px 0px 0px 20px; background: url(../images/primoGrey/exclamation.gif) left 2px no-repeat; padding: 2px 0px 2px 28px;}
HTML/**/>BODY .errorBorder select{margin: 0px 0px 0px 0px !important;}
HTML/**/>BODY .errorBorder_query input{margin: 0px 0px 0px 0px !important;}

a.prefLink{font: normal 0.9em arial; float: left;}
a.advancedLink{font: normal 0.9em arial; float: left; margin-left: 55%;}
HTML/**/>BODY a.advancedLink{margin-left: 70%; white-space: nowrap;}

.eShelf3{background:#F2F1E9 url('../images/primoGrey/eShelf_corner.gif') bottom right no-repeat; width: 28%; padding-bottom: 7px;}
.eShelf3_portal {background:#F2F1E9; width: 28%; padding-bottom: 7px;}

.eShelf3 h3, .eShelf3_portal h3 {background: url('../images/primoGrey/eShelf_top.gif') top right no-repeat; padding: 13px 15px 0px; font: normal 1.5em Tahoma;}
.eShelf3 table, .eShelf3_portal table{width: 96%; margin-left: 1px;}
.eShelf3 tr.userFaceTR td, .eShelf3_portal tr.userFaceTR td{padding-top: 6px; padding-bottom: 6px; border-bottom: 1px solid #CDCDCD;}
.eShelf3 tr.userFaceTR2 td, .eShelf3_portal tr.userFaceTR2 td{padding-top: 4px; padding-bottom: 6px; border-bottom: 1px solid #CDCDCD;}
.eShelf3 tr.userFaceTR3 td, .eShelf3_portal tr.userFaceTR3 td{padding-top: 6px;}
.eShelf3 .userFaceTD, .eShelf3 .userFaceTD2{padding-right: 3px; border-left: 11px solid #E5E5E5; vertical-align: middle;}
.eShelf3_portal .userFaceTD, .eShelf3_portal .userFaceTD2{padding-right: 3px; border-left: 11px solid #E5E5E5; vertical-align: middle;}
.eShelf3 .userFaceTD a.signin_out, .eShelf3_portal .userFaceTD a.signin_out{font: normal 1.1em arial; background: url(../images/primoGrey/new_signin_icon.gif) left top repeat-y; padding-left: 17px;}
.eShelf3 .userFaceTD a.eShelf_icon, .eShelf3_portal .userFaceTD a.eShelf_icon{font: normal 1.1em arial; background: url(../images/primoGrey/new_eshelf_icon.gif) left top repeat-y; padding-left: 17px;}
.eShelf3 .userFaceTD a.signin_out:hover, .eShelf3_portal .userFaceTD a.signin_out:hover, .eShelf3 .userFaceTD a.eShelf_icon:hover, .eShelf3_portal .userFaceTD a.eShelf_icon:hover{background-position: left 20px; color: #235389;}
.eShelf3 .userFaceTD2 a, .eShelf3_portal .userFaceTD2 a{font: normal 1em arial; color: #1770B0;}
.eShelf3 .userFaceTD2 a:hover, .eShelf3_portal .userFaceTD2 a:hover{color: #235389;}

.eShelf3_sign{padding: 10px 0px 0px 15px; font-size: 0.9em;}
.eShelf3_sign a{font-size: 1.1em;}
.eShelf3_eShelf{padding: 8px 0px 0px 15px; font-size: 0.9em;}
.eShelf3_eShelf a.guest_eShelf{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; width: 96px; height: 20px; padding: 2px 0px 0px 10px; margin-right: 2px; background: url(../images/primoGrey/guest_eshelf_button.gif) left top repeat-y; text-decoration: none; font-size: 1px; color: #357DCE; vertical-align: middle;}
.eShelf3_eShelf a.eShelf{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; width: 71px; height: 20px; padding: 2px 0px 0px 10px; margin-right: 2px; background: url(../images/primoGrey/eshelf_button.gif) left top repeat-y; text-decoration: none; font-size: 1px; color: #357DCE; vertical-align: middle;}
.eShelf3_eShelf a:hover{background-position: left 22px; color: #BBD3EE;}
.eShelf3_helPreferences{clear: both; padding: 21px 18px 0px 15px; font-size: 0.9em;}
.eShelf3_helPreferences a.helpLink{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; padding-left: 15px; background: url(../images/primoGrey/help_mark.gif) left top repeat-y;}
.eShelf3_helPreferences a.helpLink:hover{background-position: left 33px;}
.eShelf3_helPreferences a.prefRight{float: right;}

/* Search tile Tabs */
.search_tabs{background: white; margin: 0px; padding: 0px; height: 2.4em;}
.search_tabs table{width: auto;}
.search_tabs td{background: white url(../images/primoGrey/tabbed_l.gif) top left no-repeat; margin: 0px; padding: 0px; border-bottom: 2px solid white; border-right: 3px solid white;}
.search_tabs td a{display: block; height: 2.4em; text-align: center; text-decoration: none; padding: 0px 10px 0px 8px; margin: 0px; font: normal 0.9em arial; color: #235389; background: url(../images/primoGrey/tabbed_r.gif) top right no-repeat;}
.search_tabs td.selected{height: 2.4em; background:#F2F1E9 url(../images/primoGrey/tabbed_selected_l.gif) top left no-repeat; border-bottom: none;}
.search_tabs td.selected a{height: 2.4em; color: #235389; background: url(../images/primoGrey/tabbed_selected_r.gif) top right no-repeat; font-weight: bold;}
.search_tabs td.nonex{height: 2.4em; background: none; border-bottom: none;}
.search_tabs td a.one_liner{height: 1.95em; padding-top: 0.55em;}
.search_tabs td.selected a.one_liner{height: 2.11em; padding-top: 0.59em;}
.search h2 span{font: normal 0.65em arial;}
.search h2 span strong{font-weight: normal}

/* White BG for tags and refine lines */
.whiteBg_top{background: url(../images/primoGrey/refine_whiteBg_top.gif) top no-repeat; padding:6px 10px 10px !important; line-height: 20px; font-size: 0.9em;}
.whiteBg_bottom{background: url(../images/primoGrey/refine_whiteBg_bottom.gif) bottom no-repeat; width: 475px;}

/* Please Wait - pop up message */
.pleaseWait{visibility: hidden; position: absolute; width: 235px; height: 70px; top: 0px; left: 0px; background: url(../images/primoGrey/pleasewait.gif) top left no-repeat;}
.pleaseWait div{width: 175px; height: 55px; padding:15px 0px 0px 60px; text-align: left; font: bold 15px tahoma; color: white;}

/* eshelf */
.eShelf {background:#E5E5E5 url('../images/primoGrey/eShelf_corner.gif') bottom right no-repeat; width: 28%}
.padTosignin{margin-bottom: 59px;}
.eShelf h3 {background: url('../images/primoGrey/eShelf_top.gif') top right no-repeat; padding: 0 15px}
a.signin {font: normal 0.9em arial, sans-serif;}
a.new_signin {font: normal 0.9em arial, sans-serif; color: #104F7C;}
a.new_signin:hover{color: white;}
.eShelf_bg td{font-size: 0.9em; padding-right: 7px;}
.eShelf_sign_in{font-size: 1em !important;}
a.whySign{font-size: 0.9em;}
.eShelf_button_td{padding-top: 6px;}
.eShelf_button_td a{margin-bottom: 2px;}
/* results */
.results h2 {background: #E5E3D4 url('../images/primoGrey/results_r.gif') top right no-repeat; color: #357DCE;}
.results_corner {background: url('../images/primoGrey/results_l.gif') top left no-repeat; padding-left: 15px}

.results2{background: #E5E3D4 url('../images/primoGrey/results_r.gif') top right no-repeat;  float:left; width:100%;}
.results2 h2{background: url('../images/primoGrey/results_l.gif') top left no-repeat; padding-left: 15px;  color: #357DCE;  float:left;}

.results2 a.backTo{display: block; font: normal 0.9em/1.1em arial; height: 15px; background: url(../images/primoGrey/back_to.gif) right top repeat-y; padding-right: 28px; margin: 7px 8px 3px 0px; color: #104F7C; text-decoration: none; float: right;}
.results2 a.backTo:hover{color: #ffffff; text-decoration: none; background-position: right 15px;}

.results2 a.backToHidden, .results2 span.backToHidden {display: block; font: normal 0.9em/1.1em arial; height: 15px; padding-right: 28px; margin: 7px 8px 0px 0px; color: #104F7C; text-decoration: none; float: right;}



/* RSS button on orange title */
.results .rss_table{background: #E5E3D4 url('../images/primoGrey/results_r.gif') top right no-repeat;}
.results .rss_table h2{font: normal 1.5em Tahoma, sans-serif; color: #357DCE; background: url('../images/primoGrey/results_l.gif') top left no-repeat;}
.results .rss_table h2 span.spanx{font: bold 0.65em arial;}
.results .rss_table h2 span.spanx strong{font-weight: normal;}
.rss{vertical-align: middle; text-align: right; padding-right: 15px; width: 45px;}
.query{vertical-align: middle; text-align: right;}

/*Did you mean/Show only Tile */
.did2 {margin: 5px 15px 0px;}
.did2 a {color: #1770B0;}
.exclamation{background: url(../images/primoGrey/exclamation.gif) left no-repeat; padding: 0px 0px 0px 28px; margin: 3px 0px 0px 15px; font: normal 0.9em arial;}
.exclamation a{color: #1770B0;}

.did {margin: 5px 15px 10px}
.did a {color: #1770B0; font: normal 0.9em arial;}
.did ul {margin: 0 10px; list-style-image: url('../images/primoGrey/bullet_error.gif'); line-height: 150%}
.did option.orange{background: #FFE5BA;}
.show_only {font-weight: bold; padding-left: 15px}
.show {font-weight: bold; display: inline}
.show li {display: inline; background: #DCEBFC url('../images/primoGrey/save_r.gif') center right no-repeat; margin-right: 10px}
.show a {background: url('../images/primoGrey/save_l.gif') center left no-repeat; padding: 0px 6px 0px 10px; text-decoration: none; font-weight: normal; margin: 0px;}

/* items */
.itemsTable .fat {font-weight: bold}
.itemsTable .title {padding-right: 10px}
.itemsTable .number {background: url('../images/primoGrey/item_bg.gif') top left no-repeat; color: #357DCE; font: normal 0.8em arial, sans-serif; padding: 0 10px; text-align: left; margin: 0px 0px 15px -21px;}
.itemsTable .type {border-left: 1px solid #E5E3D4; background: url('../images/primoGrey/item_bg.gif') bottom left no-repeat; text-align: center; padding: 0px 20px 0px 21px; font-size: 0.9em; color: black;}

.itemsTable .orange_type {border-left: 1px solid #FEB458; background: url('../images/primoGrey/orange_item_bg.gif') bottom left no-repeat; text-align: center; padding: 0px 20px 0px 21px; font-size: 0.9em}
.itemsTable .orange_number {background: url('../images/primoGrey/orange_item_bg.gif') top left no-repeat; color: #1770B0; font: normal 0.8em arial, sans-serif; padding: 0 10px; text-align: left; margin: 0px 0px 15px -21px;}
.itemsTable .orange_number span{color: #FEB458; font-size: 1.1em;}

.typeWiki{border-left: 1px solid #D1E2EF; background: url('../images/primoGrey/item_bg.gif') bottom left no-repeat; text-align: center; padding: 0px 20px 0px 0px; font-size: 0.9em}
.typeWiki div{background: url('../images/primoGrey/item_bg.gif') top left no-repeat; padding: 5px 0px 5px 20px; text-align: left;}
.wikiLink{padding: 5px 0px;}

.itemsTable .typeNone {border: none; text-align: center; vertical-align: middle; padding: 0px 20px 0px 13px; font-size: 0.9em; color: black;}
.itemsTable .cover {border-right: 1px solid #E5E3D4; background: url('../images/primoGrey/item_bg.gif') top right no-repeat; text-align: center; vertical-align: middle; padding: 0px 10px;}
.itemsTable .coverNone{text-align: center; vertical-align: middle; padding: 0px 10px;}
.itemsTable .author{margin-top: 5px; color: black;}
.itemsTable .details {color: #909090;}
.itemsTable .details a.multiple{display: block; height: 17px; background: url(../images/primoGrey/multiple.gif) left top repeat-x; margin-top: 2px; padding-left: 35px;}
.itemsTable .details a.multiple:hover{background-position: 1000px top;}

.getItGrey{float: right; background-color: white; padding: 4px 0px 0px 6px; color: #909090; font: bold 1.1em/1em arial; text-decoration: none;}
a.getItGreen{float: right; background-color: white; padding: 4px 0px 0px 6px; color: #179C72; font: bold 1.1em/1em arial; text-decoration: none;}
a.getItRed{float: right; background: white; padding: 4px 0px 0px 6px; color: #C74306; font: bold 1.1em/1em arial; text-decoration: none;}
a.getItGreen:hover, .itemsTable a.getItRed:hover{color: #F36E1B}
a.getItGreen span, .itemsTable a.getItRed span, .getItGrey span {font: normal 0.8em/1em arial !important; padding: 0px !important;}
a.getItGreen span span, .itemsTable a.getItRed span span, .getItGrey span span {font: normal 1em/1em arial !important; text-decoration: underline !important; padding: 0px !important;}

a.getItGreen2{background: white; padding: 4px 0px 0px 6px; color: #179C72; font: bold 1em/1em arial; text-decoration: none;}
a.getItGreen2:hover{color: #F36E1B}
a.getItGreen2 span{font: normal 0.8em/1em arial !important;}
a.getItGreen2 span span{font: normal 1em/1em arial !important; text-decoration: underline !important; padding-right: 0px;}

.itemsTable .border{background: url(../images/primoGrey/blue_border2.gif) bottom repeat-x; margin: 3px 0px 0px -3px; color: #235389; line-height: 22px;}
.itemsTable .border span{background-color: #ffffff; padding-right: 6px;}

body.emailTable{margin: 20px;}

.check {vertical-align: bottom; color: #235389; padding: 0 5px; white-space: nowrap}
a.toeshelf {display:-moz-inline-block; display:-moz-inline-box; display:inline-block; background: url('../images/primoGrey/CheckboxUnchecked.gif') left no-repeat; height: 16px; padding-left: 25px; vertical-align: middle; color: #235389; white-space: nowrap; text-decoration: none}
a.toeshelf:hover {background: url('../images/primoGrey/CheckboxUnchecked_o.gif') left no-repeat; text-decoration: underline}
a.offeshelf {display:-moz-inline-block; display:-moz-inline-box; display:inline-block; background: url('../images/primoGrey/CheckboxChecked.gif') left no-repeat; height: 16px; padding-left: 25px; vertical-align: middle; color: #235389; white-space: nowrap; text-decoration: none}
a.offeshelf:hover {background: url('../images/primoGrey/CheckboxChecked_o.gif') left no-repeat; text-decoration: underline}
.getit {vertical-align: bottom; text-align: right}
.getit a {display: block; font-weight: bold; width: 130px; height: 19px; padding: 0 47px 0 0; color: #235389; text-decoration: none; background: url('../images/primoGrey/getit.gif') bottom right no-repeat; white-space: nowrap}
.getit a:hover {background: url('../images/primoGrey/getit_o.gif') bottom right no-repeat}
.cover {border-right: 1px solid #E5E3D4; background: url('../images/primoGrey/item_bg.gif') top right no-repeat; text-align: right; vertical-align: middle; padding: 0 10px;}
.half_cover{border-right: 1px solid #D1E2EF;text-align: right; vertical-align: middle; padding: 0 10px;}
.spacer {height: 21px; background: url('../images/primoGrey/item_bg.gif') top right no-repeat; font-size: 2px;}

.res_num {background: url('../images/primoGrey/item_bg.gif') left 17px repeat-x; text-align: center; vertical-align: middle;  font-size: 0.9em;}
.res_num span {display:-moz-inline-block; display:-moz-inline-box; display:inline-block; background: white; padding: 8px 5px 0px; color: #909090;}
a.previous {float: left; height: 24px; text-align: right; background: white url('../images/primoGrey/previous.gif') left top repeat-y; text-decoration: none; padding: 8px 8px 0 34px;}
a.previous:hover {background-position: left 28px;}
a.next {float: right; height: 24px; background: white url('../images/primoGrey/next.gif') right top repeat-y; text-decoration: none; padding: 8px 34px 0 8px;}
a.next:hover {background-position: right 28px;}
a.previous_no {float: left; height: 24px; text-align: right; background: white url('../images/primoGrey/previous_no.gif') left 4px no-repeat; text-decoration: none; padding: 8px 8px 0 34px; color: #B7B7B7;}
a.next_no {float: right; height: 24px; background: white url('../images/primoGrey/next_no.gif') right 4px no-repeat; text-decoration: none; padding: 8px 34px 0 8px; color: #B7B7B7;}

.bull_top{border-left: 1px solid #D1E2EF; background: url('../images/primoGrey/item_bg.gif') top left no-repeat; padding: 6px 10px 0px; text-align: center;}
.bull_top_empty{border-left: 1px solid #D1E2EF; background: url('../images/primoGrey/item_bg.gif') top left no-repeat; padding: 0px 10px 0px; text-align: center;}
.bull_bottom {border-left: 1px solid #D1E2EF; background: url('../images/primoGrey/item_bg.gif') bottom left no-repeat; text-align: center; padding: 0px 10px; vertical-align: bottom;}
.bull_padTop td{padding-top: 19px;}
.bull_padTop_empty td{padding: 0px;}
.details2{vertical-align: bottom; background: url(../images/primoGrey/blue_border.gif) bottom repeat-x;}
.details2 span{background-color: #ffffff; color: #1770B0; padding-right: 2px;}

/* refines */
.refines{background: #F2F1E9 url('../images/primoGrey/refines_b.gif') bottom right no-repeat; line-height: 140%; padding: 0 20px}
.refines h3 {background: url('../images/primoGrey/refines_t.gif') top right no-repeat; margin: 0 -20px 5px 0; padding-top: 5px;}
.refines ul {margin: 16px 0px 0px 0px; padding: 0; list-style: none; font-weight: bold}
.refines ul ul{margin: 0 0 20px 10px; list-style-image: url('../images/primoGrey/bullet.gif'); font-weight: normal}
.refines ul ul.other  {margin: 0px 0px 20px 1px; padding: 0; list-style-image: none !important; font-weight: normal;}
.refines ul ul.other ul{margin: 0px 0px 0px 17px; list-style-image: none !important;}
.refines ul ul.other ul ul{margin: 0px 0px 0px 14px; list-style-image: url('../images/primoGrey/bullet.gif') !important; font-weight: normal; display: none;}
.refines ul ul.other ul ul a{padding-left: 2px;}
.refines a.plus {background: url(../images/primoGrey/plus.gif) top left no-repeat; padding-left: 16px;}
.refines a.minus {background: url(../images/primoGrey/minus.gif) top left no-repeat; padding-left: 16px;}
li.more {list-style-image: url('../images/primoGrey/more.gif'); margin-left: 15px; padding-bottom: 2px;}
li.more a {color: #E9752C; font-size: 0.9em;}
li.more a:hover {color: #357DCE;}
.refines a.more_collections {display:block; float:right; background:url('../images/primoGrey/more.gif') 0px -5px  no-repeat; font: normal 0.9em arial; padding-left:16px; color: #235389; padding-top:1px;}
.refines a:hover.more_collections {color: #F36E1B}

/* ideas */
.ideas {background: #ffffff url('../images/primoGrey/ideas_bottom.gif') bottom left no-repeat; line-height: 200%; padding: 0 15px 10px;}
.ideas h3 {background: url('../images/primoGrey/ideas.gif') top left no-repeat; margin: 0 -15px; padding: 13px 15px 5px;}
.ideas ul {margin: 0 20px 15px 17px; list-style-image: url('../images/primoGrey/bullet_idea.gif'); line-height: 170%}

/* related */
.related {background: #ffffff url('../images/primoGrey/related_corner.gif') bottom right no-repeat; line-height: 140%; padding: 0 15px 8px;}
.related h3 {background: url('../images/primoGrey/related.gif') top right no-repeat; margin: 0 -15px; padding: 13px 15px 5px;}
.related ul {margin: 0; padding: 0; list-style: none; font-weight: normal}
.related ul ul {margin: 0 0 13px 10px; list-style-image: url('../images/primoGrey/bullet.gif'); font-weight: normal}
.related_tagging {background: #ffffff url('../images/primoGrey/related_corner.gif') bottom right no-repeat; line-height: 140%; padding: 0px;}
.related_tagging .tagging_title{background: url('../images/primoGrey/related.gif') top right no-repeat; margin: 0px; padding: 13px 15px 5px;}
.related_tagging h3 {padding: 2px 12px 5px 0px;}
.related_tagging ul {margin: 0; padding: 0; list-style: none; font-weight: normal}
.related_tagging ul ul {margin: 0 0 20px 10px; list-style-image: url('../images/primoGrey/bullet.gif'); font-weight: normal}
.related .whatis{text-align: right; padding:8px 5px 0px 0px !important;}

/* full details */
.fulldetails {padding: 0 15px}
.fulldetails img {padding-right: 15px}
.fulldetails_right{padding-right: 0px !important;}

.fulldetails table td {vertical-align: bottom}
ul.detailed {margin-left: 15px; list-style-image: url('../images/primoGrey/detail_bullet.gif')}
.description {float: left; line-height: 130%; width: 65%}
li.b1 {margin: 0 0 0 15px; list-style-image: url('../images/primoGrey/b1.gif')}
li.b2 {margin: 0 0 0 15px; list-style-image: url('../images/primoGrey/b2.gif')}
li.b3 {margin: 0 0 0 15px; list-style-image: url('../images/primoGrey/b3.gif')}
li.b4 {margin: 0 0 0 15px; list-style-image: url('../images/primoGrey/b4.gif')}
li.b5 {margin: 0 0 0 15px; list-style-image: url('../images/primoGrey/b5.gif')}

.results_corner_with_border {background: url(../images/primoGrey/results_l.gif) top left no-repeat; padding-left: 15px; width: 440px;}
.fulldetails .briefContent{margin: 0px 0px 7px;}
.fulldetails .otherBullets{margin-top: 7px;}
.fulldetails a.multiple{display: block; height: 16px; background: url(../images/primoGrey/multiple2.gif) left top repeat-x; margin-top: 2px; padding-left: 35px; font-size: 14px;}
.fulldetails a.multiple:hover{background-position: 1000px top;}
.fulldetails a.outsider{display: block; height: 16px; width: 250px; background: url(../images/primoGrey/outsider2.gif) left top repeat-x; margin-top: 2px; padding-left: 35px;}
.fulldetails a.outsider:hover{background-position: 1000px top; }
.fulldetails .border{margin-bottom: -3px;}

.fulldetails .coverFloat_right{float: right; margin: 0px -15px 10px 20px;}
.fulldetails .coverFloat_left{float: left; margin: 0px 0px 5px 0px;}
.fulldetailsContent_left{float: left;}

.borderPad{background: url(../images/primoGrey/blue_border2.gif) bottom repeat-x; margin: 9px 0px 36px -3px; color: #704A7B; line-height: 22px; clear: both}
.borderPad span{background-color: #ffffff; padding-right: 6px;}

.borderPad_v2{background: url(../images/primoGrey/blue_border2.gif) bottom repeat-x; margin: 23px 0px 36px -3px; color: #704A7B; line-height: 22px; clear: both;}
.borderPad_v2 span{background-color: #ffffff; padding-right: 6px;}

.fulldetails table.Available {width: auto}
.fulldetails .greenAvailable{color: #179C72; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px; letter-spacing: 0.04em;}
.fulldetails .yellowAvailable{color: #F9B930; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px;}
.fulldetails .redAvailable{color: #C74306; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px;}
.fulldetails .purpleAvailable{color: #7F7F7F; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px;}

.fulldetails ul.green {margin: 0px 0px 17px 15px; list-style-image: url('../images/primoGrey/green_bullet.gif');}
.fulldetails ul.yellow {margin: 0px 0px 17px 15px; list-style-image: url('../images/primoGrey/yellow_bullet.gif') !important;}
.fulldetails ul.red {margin: 0px 0px 17px 15px; list-style-image: url('../images/primoGrey/red_bullet.gif') !important;}
.fulldetails ul.purple {margin: 0px 0px 0px 15px; list-style-image: url('../images/primoGrey/purple_bullet.gif') !important;}
.fulldetails li{margin-bottom: 5px;}
/*li.test01{font: normal 1em arial;}*/
.fulldetails .whySee{font: normal 0.9em/1.35em arial; color: black;}
.fulldetails .whySee strong{display: block; color: #235389;}
.fulldetails .whySee span{background-color: #D2E3F3; padding: 0px 2px;}

/* Commands Tile  */
.operatives2{background: #F2F1E9 url('../images/primoGrey/refines_b.gif') bottom right no-repeat; padding: 0px;}
.operative_corner{background: url('../images/primoGrey/refines_t.gif') top right no-repeat; padding: 3px 13px 0px 10px;}
.operatives2 select{font: normal 0.9em arial; margin-left: 0px;}
.operatives2 select.pushto{font: normal 0.9em arial; margin-left: 0px;}
.operatives2 option.firstx{background-color: #D2E3F3;}
HTML>BODY .operatives2 select.pushto{font: normal 0.9em arial; margin-left: 0px; background-color: #D2E3F3; color: #235389;}
.operatives2 option.firstx{background-color: #D2E3F3; color: #235389;}

#saveSel{display: none;}
#saveBut{padding-left: 52px;}

.operatives2 h3 {padding: 2px 12px 7px 0px;}
.operatives2 ul.tagging {margin: 20px 0px 0px 0px; padding: 0; list-style: none; font-weight: normal}
.operatives2 ul.tagging ul {margin: 0 0 20px 10px; list-style-image: url('../images/primoGrey/bullet.gif'); font-weight: normal}
.operatives2 ul.tagging span{font-size: 0.9em; float: right;}
.operatives2 ul.tagging li.more{margin-left: 7px;}

.operatives2 .CloudDiv{margin: 7px 0px 0px 0px; text-align: justify !important;}
.operatives2 a.cloud0{font: normal 0.9em arial; text-decoration: none;}
.operatives2 a.cloud25{font: bold 1.0em arial; text-decoration: none;}
.operatives2 a.cloud50{font: normal 1.1em arial; text-decoration: none;}
.operatives2 a.cloud75{font: bold 1.3em arial; text-decoration: none;}

.operatives2 .whatis{float: right; padding-right: 0px !important; margin: 6px 0px 0px 0px;}
ul.commandUL{margin-top: 12px;}
ul.commandUL li{margin: 0px 0px 17px 0px}

.myTags_guest strong{display: block; margin-bottom: 9px;}
.myTags_guest div{display: block; margin-bottom: 22px;}

a.emailLink{display: block; background: url(../images/primoGrey/email_link.gif) left center repeat-x; text-decoration: none; width: 60px; padding: 1px 3px 1px 32px; color: #225288; font: bold 1em/1.2em tahoma;}
a.printLink{display: block; background: url(../images/primoGrey/print_link.gif) left center repeat-x; text-decoration: none; width: 60px; padding: 1px 3px 1px 32px; color: #225288; font: bold 1em/1.2em tahoma;}
a.smsLink{display: block; background: url(../images/primoGrey/sms_link.gif) left center repeat-x; text-decoration: none; width: 60px; padding: 1px 3px 1px 32px; color: #225288; font: bold 1em/1.2em tahoma;}
a.emailLink:hover, a.printLink:hover, a.smsLink:hover{background-position: 1000px center; color: #F36E1B; cursor: pointer;}

li.sendTo_li{background: url(../images/primoGrey/send_to_tak.gif) left top no-repeat; padding-left: 25px; color: #235389;}
li.sendTo_li_save{background: url(../images/primoGrey/send_to_save.gif) left top no-repeat; padding-left: 25px; color: #235389;}
li.sendTo_li_save label{font-size: 0.85em;}

li.sendTo_li select, li.sendTo_li img{vertical-align: middle;}
li.sendTo_li_save select, li.sendTo_li_save img{vertical-align: middle;}

/*  Review */
.review_form, .added_review{display:none;}
.added_review_open{display:block;}
.review_title{background: #E5E3D4 url('../images/primoGrey/results_r.gif') top right no-repeat; color: white;}
.review_title .results_corner_with_border {background: url(../images/primoGrey/results_l.gif) top left no-repeat; padding-left: 15px; width: 100%;}
.review_title h2{color: #ffffff;}
.review_title table{width: 100%;}
.review_body{background: #F2F1E9 url('../images/primoGrey/refines_b.gif') bottom right no-repeat;}
.review_body .corner_left{padding: 15px; background: url('../images/primoGrey/review_corner.gif') bottom left no-repeat;}
.review_body_pop table, .review_body table{margin-left: -6px; width: auto;}
.cancel{text-align: right; height: 21px !important; padding: 6px 15px 0px 0px !important;}
.cancel a{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; text-decoration: none; color: #104F7C; background: url(../images/primoGrey/cancel.gif) right top repeat-y; padding: 0px 25px 0px 0px; font-size: 0.9em;}
.cancel a:hover{background-position: right 15px;}

.rating{padding-bottom: 4px;}
.small{padding-bottom: 4px; font: normal 0.8em arial, sans-serif;}
.text_limit{width: 98.5%; margin-bottom: 5px;}

.review_text{height: 100px; width: 100%;}
div.chkx {margin:0px 0px 7px -4px;}
.saveTd {text-align: right; width: 90%;}
a.save{background: url(../images/primoGrey/save_l.gif) left no-repeat; text-decoration: none; padding-left: 7px;}
a.save span{background: url(../images/primoGrey/save_r.gif) right no-repeat; text-decoration: none; color: #704A7D; padding-right: 7px;}
a.grey_save{background: url(../images/primoGrey/save_grey_l.gif) left no-repeat; text-decoration: none; padding-left: 7px;}
a.grey_save span{background: url(../images/primoGrey/save_grey_r.gif) right no-repeat; text-decoration: none; color: #704A7D; padding-right: 7px;}
a.blue_save{background: url(../images/primoGrey/save_blue_l.gif) left no-repeat; text-decoration: none; padding-left: 7px;}
a.blue_save span{background: url(../images/primoGrey/save_blue_r.gif) right no-repeat; text-decoration: none; color: #704A7D; padding-right: 7px;}




/*review pop up */
body.review {background-color: #f2f1e9; margin: 20px 8px 0px 8px;}
body.review .review_title{background: #347CCD url('../images/primoGrey/eshelf_right_pop.gif') top right no-repeat; color: white;}
body.review .review_title .results_corner_with_border {background: url(../images/primoGrey/eshelf_left_pop.gif) top left no-repeat; padding-left: 15px; width: 100%;}
body.review .cancel{text-align: right; padding:5px 15px 0px 0px; float: right;}
body.review .cancel a{background-image: url(../images/primoGrey/cancel_blue.gif); color: #DDE9F7;}

body.review .review_body_pop{background-color: #ffffff !important; padding: 15px;}
body.review .rating{padding-top: 4px;}
body.review .small{padding-top: 6px; font: normal 0.8em arial, sans-serif;}
body.review ul {margin: 0px 12px; list-style-image: url('../images/primoGrey/bullet_tips.gif'); line-height: 150%}
body.review ul a{color: #235389;}
body.review .text_title{margin-bottom: 4px;}

body.review .forExample{padding-top: 6px;}
body.review .forExample strong{color: #235389;}
body.review .underHR{border-top: 1px solid #e5e5e5; margin-top: 12px; padding-top: 12px;}

/* What is ? */
.whatis{text-align: right; padding:5px 19px 0px 0px !important;}
.whatis a{text-decoration: none; background: url(../images/primoGrey/whatis.gif) right top repeat-y; padding: 1px 28px 0px 0px; font-size: 0.9em; display:-moz-inline-block; display:-moz-inline-box; display:inline-block; height: 17px;}
.whatis a.blue{text-decoration: none; background: url(../images/primoGrey/whatis_blue.gif) right top repeat-y; padding: 1px 28px 0px 0px; color: white; font-size: 0.95em; display:-moz-inline-block; display:-moz-inline-box; display:inline-block; height: 17px;}
.whatis a:hover{background-position: right 100px;}

/* Table of content  */
.toc_corner_l{background: #ffffff url('../images/primoGrey/toc_corner_l.gif') top left no-repeat;}
.toc_corner_r{background: url('../images/primoGrey/toc_corner_r.gif') top right no-repeat; padding: 15px 10px;}

/* Preferences/Scope page */
.search_bg_pref {background: url('../images/primoGrey/search_bg.gif') top left no-repeat; padding: 0 5px 0 15px}
.search_bg_pref .whatis{float: right; font-size: 0.9em;}
.search_bg_pref .whatis a.blue{background-image: url(../images/primoGrey/whatis.gif); color: #235389;}
.search_bg_pref .hrx{border-top: 1px solid white; height: 1px;}
.PreferTable{margin-left: 0px;}
.PreferTable  td {padding: 5px 10px 0px 0px; white-space: nowrap;}
.thin{font-weight: normal !important;}
.PreferTable input {width: 20.3em !important; margin: 0 !important; padding: 0 !important; font: normal 0.9em arial;}
.PreferTable select {width: 20em !important; margin: 0 !important; padding: 0 !important}
.PreferTable .baba {padding: 7px 5px 0px 0px !important; font-weight: bold !important; white-space: nowrap;}
.PreferTable .baba_additional{padding: 7px 5px 0px 3px !important; font-weight: bold !important; white-space: nowrap;}
.PreferTable .first_tr td {padding: 12px 10px 0 0; white-space: nowrap;}
.PreferTable .first_tr .baba{padding: 15px 5px 0px 0px !important;}
.PreferTable .indent {padding: 5px 10px 0px 12px !important;}
.PreferTable .whatis{text-align: right; padding:5px 0px 0px 0px !important;}
.PreferTable .whatis a{text-decoration: none;}
.PreferTable .whatis img {vertical-align: middle;}
.PreferTable .baba_additional2{padding: 7px 40px 0px 0px !important; font-weight: bold !important; white-space: nowrap;}
.PreferTable .longSave{padding-top: 20px; text-align: right;}
.PreferTable .longSave2{padding-top: 20px;}
.PreferTable .pad_tr td{padding-top: 7px !important;}

input.saveReturn{background: url(../images/primoGrey/save_return.gif) 0px 0px repeat-y; border: none; font-size: 3px; text-decoration: none; width: 167px !important; height: 22px; padding-left: 8px; text-align: left; color: #057BB6;}
input.saveReturn_o{background: url(../images/primoGrey/save_return.gif) 0px 22px repeat-y; border: none; font-size: 3px; text-decoration: none; width: 167px !important; height: 22px; padding-left: 8px; text-align: left; color: #ACD3E7; cursor: pointer;}

a.prefCancel{text-decoration: none; background: url(../images/primoGrey/pref_cancel.gif) left top repeat-y; padding: 1px 0px 0px 27px; font-size: 0.9em; display:-moz-inline-block; display:-moz-inline-box; display:inline-block; height: 15px;}
a.prefCancel:hover{background-position: left 100px;}

/* tags */
.tags_title{background: #347CCD url('../images/primoGrey/tags_corner_r.gif') top right no-repeat; color: white;}
.tags_title .results_corner_with_border {background: url('../images/primoGrey/tags_corner_l.gif') top left no-repeat; padding-left: 15px; color: #ffffff; font: normal 1.5em Tahoma, sans-serif; margin: 0}
.tags_title table{width: 100%;}
.tags_body{background: url('../images/primoGrey/tag_line_bg.gif') top left no-repeat; width: 100%; padding-top: 3px;}
.tags_body table{vertical-align: top;}
.tags_body h2{color: #7F7F7F; padding-left:3px; margin-top: 3px; text-align: left !important;}
.tags_body h2 span{font: normal 0.5em arial;}
.tags_body ul {margin: 0 0 20px 13px; list-style-image: url('../images/primoGrey/bullet.gif'); font-weight: normal; line-height: 1.25em;}
.tags_body ul a.tagsChx{color: #1770B0; text-decoration: underline; line-height: 1.3em;}
.tags_body ul a.tagsChx:hover{color: #F36E1B;}
.times{padding-top: 31px; font: normal 0.85em/1.5em arial, sans-serif; color: #C8C5C5; width: 10%; white-space: nowrap;}
.RecentTd {width: 32%; padding: 0px 0px 0px 12px;}
.RecentTd input {vertical-align: middle; margin-left: 5px;}
.RecentTd li{clear: both;}
.RecentTd span{float: right; font: normal 0.85em/1.5em arial, sans-serif; color: #6E6E6E;}
.spacerTd{width: 6%;}
.popularTd {width: 30%;}
.popularTd_cloud {text-align: justify; width: 90%; padding-left: 4px;}
.popularTd_cloud a.cloud0{font: normal 0.9em arial; text-decoration: none;}
.popularTd_cloud a.cloud25{font: normal 1.1em arial; text-decoration: none;}
.popularTd_cloud a.cloud50{font: normal 1.3em arial; text-decoration: none;}
.popularTd_cloud a.cloud75{font: normal 1.5em arial; text-decoration: none;}
.pop_list{display: none;}

.searchTd{width: 240px; background: #F2F1E9 url('../images/primoGrey/searchTd.gif') bottom no-repeat; padding: 0px;}
.tags_search_title {background:#F2F1E9 url('../images/primoGrey/tags_search_r.gif') top right no-repeat; padding: 0px 0px 0px 0px; width: 240px; text-align: left;}
.tags_search_title h2 {background: url('../images/primoGrey/tags_search_l.gif') top left no-repeat; color: #7F7F7F; margin: 0px; padding: 3px 0px 0px 15px;}
.searchTd input {font: normal 1.2em Arial, sans-serif; margin: 3px 5px 3px 0; width: 7em}
.searchTd .submitButton{padding: 5px 5px 0px 0px;}
.searchTd table{width: auto;}
.tags_body .previous {width: 114px;}
.tags_body .res_num {background: url('../images/primoGrey/item_bg.gif') center repeat-x; text-align: center; vertical-align: middle}
.tags_body .res_num span {background: white; padding: 0 5px; color: #909090;}

/* tags pop up  */
body.tags {background-color: #f2f1e9; margin: 20px 8px 0px 8px;}
body.tags .cancel{text-align: right; padding:4px 10px 0px 0px; float: right;}
body.tags .cancel a{background-image: url(../images/primoGrey/cancel_blue.gif); color: #DDE9F7;}
body.tags .tags_body_pop{background-color: #ffffff !important; padding: 15px;}
body.tags .tags_body_pop table{margin-top: 10px; width: 90%;}
body.tags input.tags_input{ width: 82%; margin-bottom: 15px; vertical-align: middle;}
.text_limit input.prefSave_button, .text_limit input.prefSave_button_o{float: right; margin-top: 2px;}
body.tags .text_title{margin-bottom: 4px;}
body.tags .tags_title{background: #347CCD url('../images/primoGrey/assignTags_r.gif') top right no-repeat; color: white;}
body.tags .tags_title .results_corner_with_border {background: url(../images/primoGrey/assignTags_l.gif) top left no-repeat; padding: 3px 0px 5px 15px; width: 100%; color: white; font: bold 1em Tahoma, sans-serif;}
body.tags .tags_title h2{color: white; font: normal 1.5em Tahoma, sans-serif;}
body.tags .tags_title table{width: 100%;}
.tags_small_title h4{background: url('../images/primoGrey/tags_title_corner_l_small.gif') bottom left no-repeat; color: #7F7F7F; padding-left: 15px; margin-bottom: 0px;}
.tags_corner_border{background: url('../images/primoGrey/tags_corner_border.gif') bottom left no-repeat; padding: 12px 0px 15px 11px; width: 30%; }
.tags_corner_border_long{background: url('../images/primoGrey/tags_corner_border.gif') bottom left no-repeat; padding: 12px 0px 15px 11px; width: 45%; }

.brief_details{border-bottom: 1px solid #E5E5E5; padding: 0px 15px 12px; margin-top: 2px; margin-left: -15px; margin-right: -15px;}
.brief_details img{float: left; margin-right: 10px;}
.brief_details .author{margin-top: 12px;}
.brief_details .details{margin-top: 3px; border: none;}

body.tags .tags_body_pop h4.addSelect {color: #235389; font: bold 1em arial; margin: 0px 0px 6px 0px;}
body.tags .tags_body_pop h4.addSelect span{font: normal 0.9em arial;}
body.tags .tags_body_pop h4.addSelect a{text-decoration: underline;}
.bottomTags_submit{border-top: 1px solid #e5e5e5; font: bold 14px arial; color: #057BB6; padding: 15px 15px 0px; margin-top: 19px; margin-left: -15px; margin-right: -15px;}
.bottomTags_submit input{float: right; margin: 0px 4px 0px 0px;}
a.tagTooltip {text-decoration: none; background: url(../images/primoGrey/whatis_inv2.gif) right top repeat-y; margin: 0px 0px 0px 2px; padding: 0px; display:-moz-inline-block; display:-moz-inline-box; display:inline-block; width: 21px; height: 18px; vertical-align: middle;}
a.tagTooltip:hover{background-position: right 101px;}
/*
.tagsTooltip{position: absolute; top: 0px; left: 0px; width: 243px; height: 63px; padding: 16px 32px 10px 10px; background: url(../images/primoGrey/tags_tooltip.gif) left top no-repeat; visibility: hidden; font-size: 0.90em;}
.tagsTooltip div{padding-top: 6px;}
.tagsTooltip strong{font-weight: bold; color: #235389;}

.tagsTooltip2_noJS{font-size: 0.85em; padding: 5px 0px;}
.tagsTooltip2{position: absolute; top: 0px; left: 0px; width: 243px; height: 55px; padding: 16px 32px 10px 10px; background: url(../images/primoGrey/tags_tooltip2.gif) left top no-repeat; visibility: hidden; font-size: 0.90em;}
#tagTooltip_link{visibility: hidden;}
/*
/* Send mail pop */
table.sendMail_table{width: auto !important; margin-top: 0px !important;}
table.sendMail_table td{width: auto; vertical-align: middle; padding-top: 4px;}
table.sendMail_table td.txtareaTD{width: auto; vertical-align: top;}
table.sendMail_table td.colspanTD{width: auto; padding-bottom: 7px;}
table.sendMail_table input, table.sendMail_table textarea{width: 24em;}
table.sendMail_table label.chk{font-size: 0.9em;}
table.sendMail_table input.radiox {width: auto; margin-left: -4px;}
HTML/**/>BODY table.sendMail_table input{width: 23.4em;}
HTML/**/>BODY table.sendMail_table input.radiox{margin-left: 0px;}
.charCount_td{font-size: 0.9em;}
/* Database searched popup */
table.database_table{width: auto !important; margin-top: 13px !important;}
table.database_table td{width: auto; vertical-align: middle; padding-top: 6px; padding-left: 5px;}
table.database_table td.databaseName{background: url(../images/primoGrey/blue_border.gif) left 18px repeat-x; width: 17em; padding-left: 0px;}
table.database_table td.databaseName span{background: #ffffff url(../images/primoGrey/database_bullet.gif) left 5px no-repeat; padding-left: 15px; padding-right: 3px;}

table.database_table a.closeWin{float: right; display: block; height: 15px; background: url(../images/primoGrey/close.gif) right no-repeat; padding-right: 28px; margin-right: 5px; text-decoration: none; }
table.database_table a.closeWin:hover{text-decoration: underline;}



/* Tags Auto Complete */
.autoComplete{position: absolute; top:0px; left:0px; width: 9.1em; height: 10em; background-color: #E9F1F7; padding: 10px 2px 0px; visibility: hidden;}
.autoComplete a.auto{display: block; line-height: 14px; padding: 0px 0px 3px 8px; width: 100%; background-color: #E9F1F7;}

/* portal */

.tablePortal {margin:0 20px 20px 20px;}
.tablePortal div.banner_L {margin-top:20px;}
tr.library_more td {padding-top:20px;}
.tips {background: #F2F1E9 url('../images/primoGrey/search_corner.gif') bottom left no-repeat; border-top: 6px solid white;}
.tips td {padding: 5px 15px; width: 50%}
.tips ul {margin: 5px 12px; list-style-image: url('../images/primoGrey/bullet_tips.gif'); line-height: 150%}
.tips a {font-weight: bold}
.featured {border-right: 6px solid white}
.featured_help {border-right: 20px solid white}
.signinto {margin: 24px 0px -10px; background: #F2F1E9 url('../images/primoGrey/signinto.gif') bottom right no-repeat; border-top: 6px solid white; padding: 7px 15px;}
.signin_portal  { background: #F2F1E9 url('../images/primoGrey/refines_b.gif') bottom right no-repeat; border-top: 6px solid white; padding: 0px 15px;}
.signin_portal div.signinto  {margin: 0px 0px -10px; padding:auto; background:0; border:0;}
.signinto h3 {background: none; padding: 0}
.signinto ul {margin: 5px 12px; list-style-image: url('../images/primoGrey/bullet_signinto.gif'); line-height: 150%}

.libraryServices {background:#E5E3D4 url('../images/primoGrey/results_r.gif') top right no-repeat; text-align: left;}
.libraryServices h2 {background: url('../images/primoGrey/results_l.gif') top left no-repeat; color: #347CCD; margin: 0px; padding: 0px 0px 0px 15px;}
.libraryServices_border{padding: 7px 20px 0px 15px;}
.libraryServices_border a.broadLink{display: block; cursor: pointer; text-decoration: none; color: black; width: 85%; padding: 0px 60px 20px 0px; background: url(../images/primoGrey/more_icon.gif) right bottom no-repeat;}
.libraryServices_border a.broadLink:hover{ background: url(../images/primoGrey/more_icon_o.gif) right bottom no-repeat;}

.libraryServices_border a.broadLink .h3{display: block; color: #7F7F7F; font: normal 1.5em Tahoma, sans-serif;}
.libraryServices_border a.broadLink:hover .h3{color: #F36E1B;}
.more_services{margin-top: 25px; text-align: right; padding-right: 10px;}


.libNews{}
.whiteNews{background-color: white;}
.libraryNews {background: #347CCD url(../images/primoGrey/tags_corner_l.gif) top left no-repeat;}
.libraryNews h3{background: url('../images/primoGrey/tags_corner_r.gif') top right no-repeat; color: white; padding: 0px 0px 0px 15px;}
.libraryNews_border{padding: 7px 3px 0px 15px; }
.libraryNews_border h5{color: #347CCD; margin: 0px 0px 4px 0px;}
.libraryNews_border img{margin-left: 3px;}
.moreBut{text-align: right;  padding: 10px 10px 10px 0px;  background: none !important; clear: both; margin-bottom:20px; }
div.activity_hours {padding-bottom:10px; background: #F2F1E9 url(../images/primoGrey/refines_b.gif) right bottom no-repeat;}
.activity_hours div{background:#F2F1E9 url(../images/primoGrey/refines_t.gif) right top no-repeat; padding: 0px 15px 6px 15px;}
.activity_hours h3{background: url(../images/primoGrey/refines_t.gif) top right no-repeat; color: #347CCD; padding-top: 2px; margin-right: -15px;}
.activity_hours table{background-color: white; border: 1px solid #7F7F7F; margin-top: 14px;}
.activity_hours td{border-bottom: 1px solid #E5E5E5; padding: 3px 0px 3px 5px; font-size: 0.93em;}
.activity_hours td.last{border-bottom: none;}
.activity_hours ul{list-style: url(../images/primoGrey/activity_bullet.gif); margin: 6px 0px 12px 13px;}
.activity_hours li{margin-bottom: 5px;}
.activity_hours a{font-weight: bold; color: #057BB6;}
.lib_services {border-right: 20px solid #fff;}

/* remote */
.remote {border-bottom: 3px solid #FEB458}
.at {background: url('../images/primoGrey/primary2.gif') top left no-repeat; padding-left: 15px; font: bold 1.2em/1.9em Tahoma, sans-serif; color: white;}
.at h2 {background: none; font: bold 1.5em Tahoma, sans-serif; color: white;}
.smol {width: 248px}
a.grey {background: url('../images/primoGrey/grey.gif') top left no-repeat; padding-left: 15px; width: 248px; border-bottom: 1px solid white; cursor: text; font: bold 1.5em Tahoma, sans-serif; color: white; display: block; text-decoration: none}
a.grey:hover {color: white}
a.extensive {background: url('../images/primoGrey/extensive2.gif') top left no-repeat; padding-left: 15px; width: 248px; border-bottom: 1px solid #E5E5E5; font: bold 1.2em/1.9em Tahoma, sans-serif; color: #F36E1B; display: block; text-decoration: none}
a.extensive:hover {background: url('../images/primoGrey/primary2_sfx.gif') top left no-repeat; color: white}

/* Bottom banner  */
.body_banner{margin-bottom: -20px;}
.banner_L{background: #E5E3D4 url(../images/primoGrey/banner_bottom_l.gif) left bottom no-repeat; margin-bottom: 5px}
.banner_R{background: url(../images/primoGrey/banner_bottom_r.gif) right bottom no-repeat; font: normal 1em tahoma; color: #989898; padding: 7px 0px; text-align: center; FONT-SIZE: 0.9EM;}
.banner_R a{text-decoration: none; color: #989898;}
.banner_R strong{padding-right: 2%;}
.banner_R span{padding-right: 2%;}
.Banner_span{font: normal 0.8em tahoma; text-align: left; padding-left:20px;}
.Banner_span_right{font: normal 0.8em tahoma; text-align: right; padding-right:20px;}
.Banner_span a{color: black !important;}
.Banner_span a.hrefPush{padding-right: 2%;}
.last_update{color: #989898; font: normal 0.9em tahoma; padding: 0px 20px 0px 20px; width: 25%}

/* New Get it window */
body.get_itBody{background-color: #E5E5E5; margin: 10px;}
body.get_itBody table{width: auto;}
body.get_itBody .springer{padding: 0px 0px 0px 10px; background: white url(../images/primoGrey/blue_left_line.gif) left top no-repeat;}
body.get_itBody .whitex{background: white;}
body.get_itBody .details{border-bottom: none;}
table.getit_tabs {float:left;}
body.get_itBody .toc_corner_r{background: url('../images/primoGrey/toc_corner_r.gif') top right no-repeat; padding: 15px 0px 0px;}
body.get_itBody .toc_corner_r img.coverImg{float: left; margin: 0px 10px 0px 15px;}
body.get_itBody .toc_corner_r div{margin-top: 3px;}
body.get_itBody .toc_corner_r .available{height: 29px; padding: 0px 0px 0px 15px; background: #057BB6; color: white; font: bold 1.2em Tahoma, sans-serif; margin-top: 0px;}
body.get_itBody .toc_corner_r .available a{font: normal 0.75em Tahoma, sans-serif; color: white;}
body.get_itBody .toc_corner_r .available a:hover{color: #F36E1B;}
body.get_itBody .toc_corner_r .available table{width: 100%;}
body.get_itBody .toc_corner_r .available td.textStrip{padding-top: 8px; font-size: 1em; color: white;}
body.get_itBody .toc_corner_r a.closeWin{float: right; display: block; height: 15px; background: url(../images/primoGrey/close.gif) right no-repeat; padding-right: 28px; margin-right: 5px; text-decoration: none; }
body.get_itBody .toc_corner_r a.closeWin:hover{text-decoration: underline;}
body.get_itBody .toc_corner_r a.openNew{margin-top:5px; float: right; height: 15px; background: url(../images/primoGrey/new_window.gif) right no-repeat; padding-right: 28px; margin-right: 5px; text-decoration: none; width:auto;}
body.get_itBody .toc_corner_r td.openNew {text-align:right;}
body.get_itBody .toc_corner_r a.openNew:hover{text-decoration: underline;}

body.get_itBody .toc_corner_r a.openNew2{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; height: 29px;  background: #FEB458 url(../images/primoGrey/open_new_l.gif) left top no-repeat; text-decoration: none;}
body.get_itBody .toc_corner_r a.openNew2 span{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; height: 16px; padding: 5px 37px 8px 30px; background: url(../images/primoGrey/open_new_r.gif) right top repeat-y; cursor: pointer; font: bold 1em verdana !important; color: white;}
body.get_itBody .toc_corner_r a.openNew2:hover span{background-position: right -100px;}

body.get_itBody a.liTab{background: url('../images/primoGrey/blue_tabbed_l.gif') top left no-repeat; border-bottom: 1px solid #fff; font: bold 15px Tahoma, sans-serif; color: #ffffff; display: block; text-decoration: none; height: 25px; padding: 0px !important; text-align: right;}
body.get_itBody a.liTab span{display: block; background: url('../images/primoGrey/blue_tabbed_r.gif') top right no-repeat; height: 22px; padding: 3px 40px 0px 15px; text-align: left;}
body.get_itBody a.liTab:hover{background: url('../images/primoGrey/blue_tabbed_l_o.gif') top left no-repeat;}
body.get_itBody a.liTab:hover span{background: url('../images/primoGrey/blue_tabbed_r_o.gif') top right no-repeat; cursor: pointer;}
body.get_itBody a.liTab_sfx{background: url('../images/primoGrey/blue_tabbed_l.gif') top left no-repeat; border-bottom: 1px solid #fff; font: bold 15px Tahoma, sans-serif; color: #ffffff; display: block; text-decoration: none; height: 25px; padding: 0px !important;}
body.get_itBody a.liTab_sfx span{background: url('../images/primoGrey/blue_tabbed_sfx_r.gif') top right no-repeat; height: 22px; padding: 3px 105px 0px 15px; text-align: left; display: block;}
body.get_itBody a.liTab_sfx:hover{background: url('../images/primoGrey/blue_tabbed_l_o.gif') top left no-repeat;}
body.get_itBody a.liTab_sfx:hover span{background: url('../images/primoGrey/blue_tabbed_sfx_r_o.gif') top right no-repeat; cursor: pointer;}
body.get_itBody a.selected_liTab{background: url('../images/primoGrey/blue_tabbed_l_o.gif') top left no-repeat; font: bold 15px Tahoma, sans-serif; color: #ffffff; display: block; text-decoration: none; height: 26px;}
body.get_itBody a.selected_liTab span{background: url('../images/primoGrey/blue_tabbed_r_o.gif') top right no-repeat; height: 23px; padding: 3px 40px 0px 15px; text-align: left; display: block;}
body.get_itBody a.selected_liTab_sfx{background: url('../images/primoGrey/blue_tabbed_l_o.gif') top left no-repeat; font: bold 15px Tahoma, sans-serif; color: #ffffff; display: block; text-decoration: none; height: 26px; padding: 0px !important;}
body.get_itBody a.selected_liTab_sfx span{background: url('../images/primoGrey/blue_tabbed_sfx_r_o.gif') top right no-repeat; height: 23px; padding: 3px 105px 0px 15px; text-align: left; display: block;}
body.get_itBody .spring2{padding: 10px 0px 10px 15px; background: white url(../images/primoGrey/blue_left_line.gif) left top no-repeat;}
body.get_itBody .spring2_error{padding: 10px 0px 16px 15px; background: white url(../images/primoGrey/blue_left_line.gif) left top no-repeat;}
body.get_itBody h5{margin-top: 0px;}
body.get_itBody .spring2_error h5{margin-top: 0px; color: #C74306;}
body.get_itBody .spring2 table.pushLeft{margin-left: -12px;}
body.get_itBody table.Available {width: auto}
body.get_itBody .greenAvailable{color: #179C72; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px;}
body.get_itBody .yellowAvailable{color: #F9B930; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px;}
body.get_itBody .redAvailable{color: #C74306; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px;}
body.get_itBody .purpleAvailable{color: #235389; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px;}
body.get_itBody ul.normal{margin: 16px 0px 0px 10px; list-style-image: url('../images/primoGrey/bullet.gif') !important;}
body.get_itBody ul.green {margin: 0px 0px 17px 15px; list-style-image: url('../images/primoGrey/green_bullet.gif') !important;}
body.get_itBody ul.yellow {margin: 0px 0px 17px 15px; list-style-image: url('../images/primoGrey/yellow_bullet.gif') !important;}
body.get_itBody ul.red {margin: 0px 0px 17px 15px; list-style-image: url('../images/primoGrey/red_bullet.gif') !important;}
body.get_itBody ul.purple {margin: 0px 0px 0px 15px; list-style-image: url('../images/primoGrey/purple_bullet.gif') !important;}
body.get_itBody li{margin-bottom: 3px;}

#sfx_advanced{display:none;}

.getitPDF_iframe{border: none; width: 100%; height: 500px;}

/* new eShelf page */

a.header_backTo{float: left; text-decoration: none; padding-left: 25px; padding-bottom: 2px; background: url(../images/primoGrey/new_back_to2.gif) left top repeat-y; margin: 4px 0px 0px 2px; font: normal 0.9em/1.16em arial;}
a.header_backTo:hover{background-position: left 15px;}

.eShelf_title{background: #347CCD url(../images/primoGrey/eShelf_right.gif) top right no-repeat; color: white; border-bottom: 2px solid white;}
.eShelf_title .results_corner_with_border {background: url(../images/primoGrey/eShelf_left.gif) top left no-repeat; padding-left: 15px; color: #DDE9F7; width: auto;}
.eShelf_title .results_corner_with_border span{font-size: 0.8em;}
.eShelf_title .results_corner_with_border span a{font-size: 0.8em; font-weight: normal; text-decoration: none; color: white}
.eShelf_title .results_corner_with_border span a:hover{text-decoration: underline;}

.eShelf_title .whatis {float: right;}
.eShelf_title .whatis a{color: white; background: url(../images/primoGrey/whatis_purple.gif) right top repeat-y;}
.eShelf_title .whatis a:hover{background-position: right 100px;}

.folders{width: 220px; background: #F2F1E9 url(../images/primoGrey/eshelf_bl.gif) bottom left no-repeat; }
.folders ul{list-style: url(../images/primoGrey/folders_close.gif); margin: 10px 5px 0px 35px;}
.folders ul a{color: #057BB6; text-decoration: none;}
.folders li{margin-bottom: 5px; vertical-align: middle; padding-left: 4px;}
.folders li.selected{color: white; background: #347ccd url(../images/primoGrey/folders_right.gif) right no-repeat; list-style: url(../images/primoGrey/folders_open.gif);}
.folders span{font-size: 1.2em;}
.guestNote{color: #C74306; margin: 10px 0px 0px 15px; padding: 0px 5px 0px 10px; font: normal 1em arial; background: url(../images/primoGrey/brown_star.gif) left top no-repeat;}
.guestNote a{color: #C74306;}

.folder_details {padding-left: 20px;}
.folder_details h5{color: #057BB6; margin: 4px 0px 4px 18px; font-size: 1.1em;}
.folder_details table.folderName{background-color: #F2F1E9;}
.folder_details table.auto{width: 100%;}
.folder_details .buttonsUl{padding: 3px 8px 2px 0px; display: none;}
.folder_details ul{display: inline; margin: 0px; padding: 0px;}
.folder_details li{display: inline; margin: 0px; padding: 0px;}
.folder_details select{font: normal 0.9em arial; vertical-align: middle; margin-left: 3px;}
.folder_details option.firstx{background-color: #C6B8C9; color: #235389;}
.folder_details .ulTd{padding: 1px 0px 0px 25px;}
.folder_details .selectWidth{width: 230px; color: #235389; font-size: 0.9em;}
.folder_details .selectWidth img{vertical-align: middle;}
.folder_details label{float: left; padding-left: 5px; vertical-align: middle; margin-top: 3px;}

.folderName_divider{height: 2px; font-size: 2px; line-height: 2px; background-color: white !important; border-left: 1px solid #D1D1D1; border-right: 1px solid #D1D1D1;}
.eShelf_error{background: #f2f1e9 url(../images/primoGrey/eshelf_error.gif) 16px 7px no-repeat; height: 22px; color: #C74306; font: bold 0.9em arial; padding: 7px 0px 0px 45px}

.folder_details .tableBorder{border: 1px solid #D1D1D1; border-top: none;}
.folder_details .itemsList{height: 150px; overflow: auto; margin-top: 2px; scrollbar-arrow-color: #1670AF; scrollbar-3dlight-color: #1770B2; scrollbar-highlight-color: #ffffff; scrollbar-face-color: #FFFFFF; scrollbar-shadow-color: #ffffff; scrollbar-darkshadow-color: #1770B2; scrollbar-track-color: #ffffff;}
.folder_details .itemsList_noOverflow{margin-top: 2px;}
.folder_details .itemsListTH th{color: #057BB6; text-align: left; border-bottom: 1px solid #e5e3d4; padding: 8px 0px 3px; }
.folder_details .itemsListTH a{text-decoration: none;}
.folder_details .itemsListTH, .folder_details .itemsListTable{width: 97% !important; table-layout:fixed;}
.folder_details .itemsListTable td{background: url(../images/primoGrey/eShelfTR_bg.gif) bottom repeat-x; color: black; height: 26px !important; vertical-align: middle; padding: 0px 0px 4px 0px; cursor: pointer;}
.folder_details .itemsList img{vertical-align: middle;}
.folder_details .itemsList_left{border-left: 14px solid White; width: 25px !important;}
.folder_details .itemsList_right{border-right: 14px solid White;}
.folder_details input.chkbox{margin-top: -2px; margin-left: -2px; width: auto;}
.folder_details .query{width: 75%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .query2{width: 70% !important; text-align: left;}
.folder_details input.small{font: normal 1em/1em Arial, sans-serif; width: 4em;}
.folder_details .save_alert{width: 18%; white-space: nowrap;}
.folder_details .update_alert{width: 20%; white-space: nowrap;}
.folder_details .type{text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .author{width: 15% !important; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .title{width: 28% !important; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .inTD{width: 20% !important; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .alertTD{width: 20% !important; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align: left;}
.folder_details .rssTD{width: 45px !important;}
.folder_details .added{width: 100px; white-space: nowrap !important;}
.folder_details .note{width: 10% !important; white-space: nowrap !important;}
.folder_details .selected td{background: #F5F5F5 url(../images/primoGrey/eShelfTR_bg.gif) bottom repeat-x; font-weight: bold;}
.folder_details .overTR td{color: #F36E1B; text-decoration: underline;}
.folder_details .titleLink{color: black; text-decoration: none;}
.iframex {width: 100%; height: 350px; margin: 3px 0px 0px 0px !important;}
.eShelf_table{margin-top: 20px;}
.eShelf_table .mainDetails{border-right: 20px solid white; border-bottom:  20px solid white;}
.eShelf_table .borderBottom{border-bottom:  20px solid white;}
.folder_details .tablePer100{width: 100% !important;}
.folder_details .tablePer100 td{cursor: default !important;}

.folder_details .draggable{background: #F2F1E9 url(../images/primoGrey/drag_arrow.gif) bottom center no-repeat; cursor: N-resize; height: 10px; font-size: 1px;}
.noJS_form{width: auto !important;}
.noJS_form label{float: none; margin-top: 0px;}
.JS_form{display: none;}
.scopeCol_tr, .scopeCol_tr th, .scopeCol_tr td{visibility: hidden; font-size: 2px !important;}

body.query {background-color: #F2F1E9; margin: 20px 8px 0px 8px;}
body.query .eShelf_title{background: #347CCD url(../images/primoGrey/eshelf_right_pop.gif) top right no-repeat; color: white; border-bottom: 2px solid white; text-align: left;}
body.query .eShelf_title .results_corner_with_border {background: url(../images/primoGrey/eShelf_left_pop.gif) top left no-repeat; padding-left: 15px; color: white;}

body.query .body_pop{background-color: #ffffff !important; padding: 9px 15px 15px 15px; text-align: left; }
body.query .body_pop table{margin-left: -6px; width: auto;}
body.query .body_pop table.innerTable{width: auto; margin-left: -4px; margin-top: -5px; margin-right: -5px; margin-bottom: -5px;}
body.query .body_pop td{vertical-align: middle;}
body.query .body_pop td.title{width: 120px;}
body.query input {font: normal 12px Arial, sans-serif; width: 150px;}

body.query .RSS_results input{margin-left: 43px;}
body.query .every{width: 20px;}

body.query input.smallq {width: 40px;}
body.query input.radiox {width: auto; margin-left: -4px;}
body.query select {font: normal 1em Arial, sans-serif; width: 5em;}
body.query input.submit2{font: normal 1em Arial, sans-serif; width: 5em;}



/* Print table */
.printTitle{border-bottom: 7px solid #e5e5e5;  }
.printTitle td{padding: 8px 0px 3px;}
.breakPrint{page-break-before: always;}

/* patch for Mozilla */
ul {margin: 0; padding: 0}


/* buttons - Links */

input.goButton{width: 93px !important; height: 27px; border: none; padding-left: 8px; background: url(../images/primoGrey/go.gif) left top repeat-y; font-size: 2px !important; text-align: left; color: #057BB6;}
input.goButton_o{width: 93px !important; height: 27px; border: none; padding-left: 8px; background: url(../images/primoGrey/go.gif) left 27px repeat-y; font-size: 2px !important; cursor: pointer; text-align: left; color: #BBD3EE;}

input.tagsGo_button{display: block; border: none; width: 83px; height: 22px; padding-left: 5px; background: url(../images/primoGrey/go_search.gif) left top repeat-y; text-align: left; font-size: 2px; color: #057BB6;}
input.tagsGo_button_o{display: block; border: none; width: 83px; height: 22px; padding-left: 5px; background: url(../images/primoGrey/go_search.gif) left 22px repeat-y; text-align: left; font-size: 2px; color: #A8D3E9; cursor: pointer;}

input.prefSave_button{display: block; border: none; width: 83px !important; height: 22px; padding-left: 5px; background: url(../images/primoGrey/pref_save.gif) left top repeat-y; text-align: left; font-size: 2px; color: #057BB6; text-decoration: none;}
input.prefSave_button_o{display: block; border: none; width: 83px !important; height: 22px; padding-left: 5px; background: url(../images/primoGrey/pref_save.gif) left 22px repeat-y; text-align: left; font-size: 2px; color: #A8D3E9; text-decoration: none; cursor: pointer;}

input.reserve_button{display: block; width: 114px; border: none; height: 22px; padding-left: 8px; background: url(../images/primoGrey/reserve.gif) left top repeat-y; text-align: left; font-size: 2px; color: #057BB6; text-decoration: none;}
input.reserve_button_o{display: block; width: 114px; border: none; height: 22px; padding-left: 8px; background: url(../images/primoGrey/reserve.gif) left 22px repeat-y; text-align: left; font-size: 2px; color: #A8D3E9; text-decoration: none; cursor: pointer;}

input.send_button{display: block; border: none; width: 83px !important; height: 22px; padding-left: 5px; background: url(../images/primoGrey/send_mail.gif) left top repeat-y; text-align: left; font-size: 2px; color: #057BB6; text-decoration: none;}
input.send_button_o{display: block; border: none; width: 83px !important; height: 22px; padding-left: 5px; background: url(../images/primoGrey/send_mail.gif) left 22px repeat-y; text-align: left; font-size: 2px; color: #A8D3E9; text-decoration: none; cursor: pointer;}

input.popClose{display: block; border: none; width: 83px !important; height: 22px; padding-left: 5px; background: url(../images/primoGrey/pop_close.gif) left top repeat-y; text-align: left; font-size: 2px; color: #057BB6; text-decoration: none;}
input.popClose_o{display: block; border: none; width: 83px !important; height: 22px; padding-left: 5px; background: url(../images/primoGrey/pop_close.gif) left 22px repeat-y; text-align: left; font-size: 2px; color: #A8D3E9; text-decoration: none; cursor: pointer;}

a.moreServices_button{display: block; width: 134px; height: 20px; padding: 2px 0px 0px 10px; background: url(../images/primoGrey/more_services.gif) left top repeat-y; text-align: left; font-size: 2px; color: #235389; text-decoration: none; float:right;}
a.moreServices_button:hover{background-position: left 22px; color: #A992B0;}

a.more_button{display: block; width: 100px; height: 18px; padding: 0px 0px 0px 15px; background: url(../images/primoGrey/more_but.gif) left top repeat-y; text-align: left; font-size: 2px; color: #BBD3EE; text-decoration: none; float:right;}
a.more_button:hover{background-position: left 18px; color: #347CCD;}

a.eShelf_button{display: block; width: 58px; height: 19px; padding: 2px 0px 0px 15px; background: url(../images/primoGrey/eShelf.gif) left top repeat-y; text-align: left; font-size: 2px; color: #8C8C8C; text-decoration: none;}
a.eShelf_button:hover{background-position: left 21px; color: #D1C2D6;}

a.eShelf_button2{float: left; width: 58px; height: 19px; padding: 2px 0px 0px 15px; background: url(../images/primoGrey/eShelf.gif) left top repeat-y; text-align: left; font-size: 2px; color: #8C8C8C; text-decoration: none;}
a.eShelf_button2:hover{background-position: left 21px; color: #D1C2D6;}
span.eShelf_span{float: left; margin-top: -5px; margin-left: 7px; line-height: 1.1em;}

a.signOut_button{display: block; width: 58px; height: 19px; padding: 2px 0px 0px 15px; background: url(../images/primoGrey/signout.gif) left top repeat-y; text-align: left; font-size: 2px; color: #8C8C8C; text-decoration: none;}
a.signOut_button:hover{background-position: left 21px; color: #D1C2D6;}

a.signIn_button{display: block; width: 58px; height: 19px; padding: 2px 0px 0px 15px; background: url(../images/primoGrey/signin.gif) left top repeat-y; text-align: left; font-size: 2px; color: #8C8C8C; text-decoration: none;}
a.signIn_button:hover{background-position: left 21px; color: #D1C2D6;}

a.eShelf_email, a.eShelf_print, a.eShelf_delete, a.eShelf_sms{text-decoration: none; background: #C6B8C9 url('../images/primoGrey/eshelf_but_r.gif') center right no-repeat; padding: 0px; display:-moz-inline-block; display:-moz-inline-box; display:inline-block; margin-bottom: 3px;}
a.eShelf_email span{background: url('../images/primoGrey/eshelf_but_email.gif') center left no-repeat; padding: 0px 20px 2px 30px; color: #235389; font: bold 0.9em tahoma; display:-moz-inline-block; display:-moz-inline-box; display:inline-block; cursor: pointer;}
a.eShelf_print span{background: url('../images/primoGrey/eshelf_but_print.gif') center left no-repeat; padding: 0px 17px 2px 33px; color: #235389; font: bold 0.9em tahoma; display:-moz-inline-block; display:-moz-inline-box; display:inline-block; cursor: pointer;}
a.eShelf_delete span{background: url('../images/primoGrey/eshelf_but_delete.gif') center left no-repeat; padding: 0px 18px 2px 32px; color: #235389; font: bold 0.9em tahoma; display:-moz-inline-block; display:-moz-inline-box; display:inline-block; cursor: pointer;}
a.eShelf_sms span{background: url('../images/primoGrey/eshelf_but_sms.gif') center left no-repeat; padding: 0px 17px 2px 33px; color: #235389; font: bold 0.9em tahoma; display:-moz-inline-block; display:-moz-inline-box; display:inline-block; cursor: pointer;}

a.eShelf_email:hover span{color: #FEB860; background: url('../images/primoGrey/eshelf_but_email_o.gif') center left no-repeat; padding: 0px 20px 2px 30px;}
a.eShelf_print:hover span{color: #FEB860; background: url('../images/primoGrey/eshelf_but_print_o.gif') center left no-repeat;}
a.eShelf_delete:hover span{color: #FEB860; background: url('../images/primoGrey/eshelf_but_delete_o.gif') center left no-repeat;}
a.eShelf_sms:hover span{color: #FEB860; background: url('../images/primoGrey/eshelf_but_sms_o.gif') center left no-repeat;}



a.purpleGo{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; width: 29px; height: 18px; background: url(../images/primoGrey/purple_go.gif) left top repeat-y; text-decoration: none; font-size: 2px; vertical-align: middle;}
a.purpleGo:hover{background-position: left 18px;}

a.blueGo{display:-moz-inline-block; display:-moz-inline-box; display:inline-block; width: 29px; height: 18px; background: url(../images/primoGrey/blue_go.gif) left top repeat-y; text-decoration: none; font-size: 2px; vertical-align: middle; color: #F7F7F7;}
a.blueGo:hover{background-position: left 18px;}

/* lightbox please wait */

.lightBox{position:absolute; top:0px; left:0px; text-align: center; background-color:#66889d; -moz-opacity: 0.5; opacity:.50; filter: alpha(opacity=50); visibility: hidden;}

.pleaseWait_new{position:absolute; top:0px; left:0px; width: 343px; visibility: hidden;}
.pleaseWait_new .topCurve{height: 10px; background: url(../images/primoGrey/lightbox_top.gif) left top no-repeat; font-size: 2px; clear: both;}
.pleaseWait_new .bottomCurve{height: 8px; background: url(../images/primoGrey/lightbox_bottom.gif) left top no-repeat; font-size: 2px; clear: both;}
.pleaseWait_new .contentBox{border-left: 1px solid #057BB6; border-right: 1px solid #057BB6; background-color: white; text-align: center; color: black; padding: 11px 0px 0px 0px;  clear: both;}
.pleaseWait_new .contentBox span{display: block; font: bold 1.2em arial; color: #1770B0; text-align: center; margin-top: 19px;}
.pleaseWait_new .contentBox .progressBar{width: 206px; height: 18px; background: url(../images/primoGrey/progress_empty.gif) left top no-repeat; padding: 0px; text-align: left;}
HTML/**/>BODY .pleaseWait_new .contentBox .progressBar{margin-left: 67px;}
.pleaseWait_new .contentBox .progressBar div{width: 6px; height: 18px; background: url(../images/primoGrey/progress_full.gif) left top no-repeat; font-size: 2px;}

.pleaseWait_new .leftPlease{text-align: left; padding: 45px 0px 7px 8px;}
.pleaseWait_new td.rightPlease{text-align: right; padding: 45px 10px 7px 0px;}
.pleaseWait_new a.cancelLink{display: block; height: 18px; font-size: 0.9em; text-decoration: none; background: url(../images/primoGrey/prog_cancel.gif) left no-repeat; padding-left: 25px; text-align: left;}
/*.pleaseWait_new a.stopImg{display: block; height: 18px; width: 180px; font-size: 0.9em; background: url(../images/primoGrey/stop_img.gif) left no-repeat; padding-left: 25px; text-decoration: none; text-align: left;}*/
.pleaseWait_new a.stopImg{display: block; height: 18px; font-size: 0.9em; background: url(../images/primoGrey/stop_img.gif) left no-repeat; padding-left: 25px; text-decoration: none; text-align: left;}


/*Availablity*/

.asOf {font-size: 0.9em; color:#909090;}
div.Banner_span_right span{padding:2px 0px 0px 3px !important;padding-top:0; margin-top:-3px;display:block; float:left;}
/**/

li.collections_link {list-style-image: url('../images/primoGrey/more.gif'); margin-left: 12px; padding-bottom: 2px;font: normal 0.95em arial; margin-top:-5px;}
li.collections_link a {color: #235389; font: normal 0.95em arial; margin-left:-2px;}
li.collections_link a:hover {color: #F36E1B;}
a.viewcol_link{font: normal 0.9em arial;}