/* CSS Document */
/*Assign - Remove Tags Popup*/
.EXLAssignTagsIframe {position:absolute; top:50px; left:25%; background-color:#00FF99; z-index:300;background-color:#f4f7f8; }/*iframe*/
.EXLRecordTagsEditLayout {background-color:#ecf0f3; width:100%; height:100%; padding-top:2%; text-align:center; }
.EXLRecordTagsEditLayout h2{ font-size:90%; line-height:300%; padding-left:1em}
.EXLRecordTagsEditLayout table{border:1px solid #d4d4d4; background-color:#FFFFFF; margin-left:auto; margin-right:auto; width:96%;}
.EXLRecordTagsEditLayout table table{border:0px;margin-top:0.3em; margin-bottom:0.5em; width:98%; margin-left:0em; padding-right:1em}
.EXLPopupCancel { float:right; background-image:url(../images/v3.0/images/icon_close_tabs.png); background-repeat:no-repeat; background-position:right; margin-right:1.2em; margin-top:0.8em;}
.EXLPopupCancel a:link{ padding-right:1em; color:#FFFFFF }
td.tags_body_pop { padding-left:1em}
td.tags_body_pop h4 { font-size:80%}
.EXLRecordTagsRecordDetails { font-size:80%; display:block; width:90% }
.EXLRecordTagsRecordDetails img{ width:40px; height:58px; float:left; margin-right:1em}
.EXLRecordTagsTextEdit{width:96%; border:1px solid #8fb9d0; height:auto; padding-top:0em;padding-left:0em; font-size:100%; clear:right; display:block}
.EXLRecordTagsAddTagsHeader { border:0px solid #f4762d; height:30px; background-image: url(../images/v3.0/images/bg_strip_btn_orange.png); background-repeat:repeat-x; color:#FFFFFF; background-color:#f4762d; text-indent:0.5em;    }
.EXLRecordTagsMyTags { background-color:#ffffff; width:45%; }
.EXLRecordTagsMyTags div {  height:200px; overflow:auto; overflow-x:hidden; border:1px solid #f4762d; border-top:none; font-size:90%; padding-top:0.5em; padding-right:1em}
.EXLRecordTagsMyTags div input{ margin-left:0.5em}
.EXLRecordTagsEverybodyTags { background-color:#ffffff; width:50%;}
.EXLRecordTagsEverybodyTags div {  height:200px; overflow:auto; overflow-x:hidden; border:1px solid #f4762d; border-top:none;font-size:90%;padding-top:0.5em}
.EXLRecordTagsEverybodyTags div input{ margin-left:0.5em}
.spacerTd { width:3em}
#js_saveButton { float:left;border:1px solid #7f9db9;  padding:0em 0.5em 0em 0.5em; display:block;background-image:url(../images/v3.0/images/bg_strip_btn_orange.png); background-repeat:repeat-x;margin:0em; width:auto;  color:#FFFFFF; font-weight: normal;height:24px; cursor: pointer; background-color:#FFFFFF; margin-bottom:0.5em }
.EXLRecordTagsEnd  a{ float:right; font-size:80%; text-align:left; line-height:150%; margin-right:1.5em; }
.EXLRecordTagsAddTagsWithCheckboxes { border:none}
.tagTooltip {display:block; float:left; font-size:90%; }
.tagsTooltip { float:left; z-index:1000; position: absolute; top:165px; left:54px; background-color:#FFFFFF; width:500px; font-size:80%; text-align:left; padding:0.6em;border:1px solid #e1e1e1;background-color:#fffbc3;background-image:url(images/bg_strip_system_feedback.png); background-repeat:repeat-x; background-position:bottom; }



/*main tags page*/
.EXLTagsPageLayout { width:97%; margin-left:1.5em; font-size:90%; margin-top:1em;}
.EXLTagsPageLayout td{ vertical-align:top; border:0px solid red;  }
.EXLTagsPageLayout h2 { font-size:90%; }
.EXLTagsPageTitleHelp { float:right; display:none}
.EXLTagsPageRecentTagsEveryone { vertical-align:text-top; width:20%}
.EXLTagsPageRecentTagsEveryone h2{ margin-top:0.5em}
.EXLTagsPageRecentTagsEveryone li  { list-style:none }
.EXLTagsPageRecentTagsEveryone li a {color:#8c8d8c; font-size:90% }
.EXLTagsPageRecentTagsEveryone li a span{color:#0075b0 }
.EXLTagsPageRecentTagsEveryone li a:hover {color:#0075b0 }

.EXLTagsPageRecentTagsTagDates { vertical-align:text-top;width:15%; white-space:nowrap; padding-top:1.7em; color:#8c8d8c; font-size:90%;}
.EXLTagsPagePopularTags { vertical-align:text-top;width:35%;}
.EXLPopularTagsList { display:block;/*change to display:none to display cloud*/ }
.EXLTagsPagePopularTags h2{ margin-top:0.5em}
.EXLTagsPagePopularTags h2 span { font-weight:normal}
.EXLTagsPagePopularTags li  { list-style:none; }
.EXLTagsPagePopularTags li a {color:#8c8d8c; font-size:90% }
.EXLTagsPagePopularTags li a span{color:#0075b0 }
.EXLTagsPagePopularTags li a:hover {color:#0075b0 }

.EXLTagsPagePopularTagsCloud {  vertical-align:text-top;width:35%;display:none;/*change to display:inline to display cloud*/}
.EXLTagsPageTagCloud { width:20em;}
.EXLTagsPageTagCloud h2 { width:100%; white-space:nowrap}
.EXLTagCloudWEIGHT1 { font-size:90%; display:inline}
.EXLTagCloudWEIGHT2 { font-size:120%; display:inline}
.EXLTagCloudWEIGHT3 { font-size:130%; display:inline}
.EXLTagCloudWEIGHT4 { font-size:140%; display:inline}


.EXLTagsPageTagSearchTitle  { float:left}
.EXLTagsPageTagSearchTitle h2 { float:left}

.EXLTagsPageSearch{ padding-top:1.2em }

.EXLTagsPageSearch h2{ padding:0.5em 0em 0em 0.5em }
.EXLTagsPageSearchColumn {background-color:#f8f8f8; border:1px solid #e4e4e4; font-size:90%}
.EXLTagsPageSearch input { border:1px solid #8fb9d0; width:14em; height:19px;}
.EXLTagsPageTagSearchButton a { float:left;border:1px solid #7f9db9;  padding:0.1em 0.5em 0em 0.5em; display:block;background-image:url(../images/v3.0/images/bg_strip_btn_orange.png); background-repeat:repeat-x;margin:0em; width:auto;  color:#FFFFFF; font-weight: normal;height:18px; cursor: pointer; background-color:#FFFFFF; margin-bottom:0.5em }
.EXLTagsPageRecentTags label { font-size:80%}
.EXLTagsPageRecentTags  { padding-top:0.5em}
.EXLTagsPageTagSearchResultsList { list-style:none; padding-left:0.5em}
.EXLTagsPageTagSearchResultsList br { display:none}
.EXLTagsPageTagSearchResultsList li a {color:#8c8d8c; font-size:90% }
.EXLTagsPageTagSearchResultsList li a span{color:#0075b0 }
.EXLTagsPageTagSearchResultsList li a:hover {color:#0075b0 }

/*Save Query*/
.EXLQueryEditIframe {position:absolute; top:50px; left:25%; background-color:#00FF99; z-index:300;background-color:#f4f7f8;  }/*iframe*/
.EXLQueryEditlayout {background-color:#ecf0f3; width:auto; height:auto; padding:0.5em;   }
.EXLQueryEditlayout  table { border:1px solid  #d4d4d4; font-size:90%; width:100%; background-color:#ffffff; text-align:left; margin-left:auto; margin-right:auto; height:auto; vertical-align:text-top    }
.EXLQueryEditlayoutFixed  table { border:1px solid  #d4d4d4; font-size:90%; width:100%; background-color:#ffffff; text-align:left; margin-left:auto; margin-right:auto; height:280px; vertical-align:text-top    }
.EXLQueryEditlayout  table  table { border:none; font-size:100%; margin-left:0.5em; width:auto; height:auto}
.EXLQueryEditlayout  table  table  table{ margin-left:-0.3em; padding:0em;}
.EXLQueryEditlayout input { width:auto; height:auto}
#queryName{ border:1px solid #8fb9d0; }
#toEmail { border:1px solid #8fb9d0; }
.EXLQueryEditlayout h2{ font-size:100%; line-height:130%; padding-left:0.8em; padding-top:0.5em}
.EXLQueryEditlayout div.whatis { float:right; margin-top:0em; margin-right:0em; width:4.5em; color:#d4d4d4;}
.EXLQueryEditlayout a.cancel span { display:none}
.EXLQueryEditlayout a.cancel { color:#FFFFFF; background-image:url(../images/v3.0/images/icon_close_tabs.png); background-repeat:no-repeat; display:inline-block; background-position:0% 100%;  width:20px; height:20px}
body.EXLQueryEditlayout {width:auto;min-width:100px;}

td.EXLUpdateQueryNoResultsTitle { width:7em }
.EXLQueryEditlayout input.EXLUpdateQuerySubmit {loat:left;border:1px solid #7f9db9;  padding:0em 0.5em 0em 0.5em; display:block;background-image:url(../images/v3.0/images/bg_strip_btn_orange.png); background-repeat:repeat-x;margin:0em; width:auto;  color:#FFFFFF; font-weight: normal;height:24px; cursor: pointer; background-color:#FFFFFF; margin-bottom:0.5em }
.EXLHighlightError {width:auto;border:1px solid #e1e1e1;background-color:#fffbc3;font-size:100%;padding:0.5em;background-image:url(../images/v3.0/images/bg_strip_system_feedback.png); background-repeat:repeat-x; background-position:bottom; color:#000000; font-weight:normal; /*display:none;*/ }

.EXLQuerySaveMessage { text-align:center; height:90%}
.EXLQuerySaveMessage  div {width:60%;border:1px solid #e1e1e1;background-color:#fffbc3;font-size:100%;padding:0em 0.5em 1.2em 1em;background-image:url(../images/v3.0/images/bg_strip_system_feedback.png); background-repeat:repeat-x; background-position:bottom; color:#000000; font-weight:normal; margin-left:auto; margin-right:auto; text-align:left }


/*Searched Resources*/
.EXLDatabaseListLayout {background-color:#ecf0f3; width:auto; height:auto; padding:0.5em;   }
.EXLDatabaseListLayout  div.EXLDatabaseListTitleBar { border:1px solid  #d4d4d4; border-bottom:none;font-size:80%; width:100%; background-color:#ffffff; text-align:left; margin-left:auto; margin-right:auto;   }
.EXLDatabaseListLayout  div.EXLDatabaseListTableBody { border:1px solid  #d4d4d4; border-top:none;   font-size:80%; width:100%; background-color:#ffffff; text-align:left; margin-left:auto; margin-right:auto; text-indent:0.8em; padding-top:1em;     }
.EXLDatabaseListLayout h2{ font-size:100%; line-height:130%; padding-left:0.8em; padding-top:0.8em}
.EXLDatabaseListLayout a.EXLPopupClose { display:none}
.EXLDatabaseListInnerTable { margin-left:0.8em; margin-top:1em; font-size:100%; width:94% }
.EXLDatabaseListInnerTable td { border-top:1px solid #e3e3e4; line-height:140%}
.EXLDatabaseListInnerTable td.EXLDatabaseListDBName { padding-right:1em}


/*send by email*/
.EXLEmailPopup {background-color:#ecf0f3; width:auto; height:auto; padding:0.5em;   }
.EXLEmailPopup  table { border:1px solid  #d4d4d4; font-size:90%; width:100%; background-color:#ffffff; text-align:left; margin-left:auto; margin-right:auto;height:280px;vertical-align:text-top}
.EXLEmailPopup table table {border:none; font-size:100%; margin-left:0em; width:auto; height:auto; margin-top:0.5em; font-size:90%; }
.EXLEmailPopup table table td { vertical-align:top; padding:0em;line-height:120%; padding-top:0.5em}
.EXLEmailPopup div.cancel { float:right; }
.EXLEmailPopup div.cancel a{ color:#FFFFFF; font-size:10px;background-image:url(../images/v3.0/images/icon_close_tabs.png); background-repeat:no-repeat; background-position:80% 80%; width:70px; height:20px;display:block }
.EXLEmailPopup input { width:auto; height:auto; border:1px solid #8fb9d0; margin-left:0.5em; }
.EXLEmailPopup input.radiox { border:none;margin-left:0.5em}
.EXLEmailPopup textarea { width:auto; height:7em; border:1px solid #8fb9d0;margin-left:0.5em; font-family:arial; font-size:90%;}
.EXLEmailPopup h2{ font-size:100%; line-height:130%; padding-left:0.8em; padding-top:0.5em}
.EXLEmailPopup h4.EXLEmailPopupDetailsTitle{ font-size:90%; line-height:130%; padding-top:0em; color:#8c8c8c; display:none;}
.EXLEmailPopup label.EXLOffstage { display:none;}
.EXLEmailPopup td.colspanTD { text-align:left}
.EXLEmailPopup input.send_button {border:1px solid #7f9db9;  padding:0em 0.5em 0em 0.5em; display:block;background-image:url(../images/v3.0/images/bg_strip_btn_orange.png); background-repeat:repeat-x;margin:0em; width:auto;  color:#FFFFFF; font-weight: normal;height:24px; cursor: pointer; background-color:#FFFFFF; margin-bottom:0.5em; margin-left:4.1em; margin-top:0.5em;  }


/*send by sms*/
.EXLSMSPopup {background-color:#ecf0f3; width:auto; height:auto; padding:0.5em;   }
.EXLSMSPopup  table { border:1px solid  #d4d4d4; font-size:90%; width:100%; background-color:#ffffff; text-align:left; margin-left:auto; margin-right:auto;height:280px;vertical-align:text-top}
.EXLSMSPopup table table {border:none; font-size:100%; margin-left:0em; width:auto; height:auto; margin-top:0.5em; font-size:90%; }
.EXLSMSPopup table table td { vertical-align:top; padding:0em; line-height:100%; padding-top:0.5em}
.EXLSMSPopup  div.cancel  { float:right; }
.EXLSMSPopup  div.cancel  a{ /*color:#FFFFFF; font-size:10px;background-image:url(../images/v3.0/images/icon_close_tabs.png); background-repeat:no-repeat; background-position:80% 80%; width:70px; height:20px;display:block*/ }
.EXLSMSPopup input { width:auto; height:auto; border:1px solid #8fb9d0; margin-left:0.5em; }
.EXLSMSPopup input.radiox { border:none;margin-left:0.5em}
.EXLSMSPopup textarea { width:28em; height:auto; border:1px solid #8fb9d0;margin-left:0.5em; font-family:arial; font-size:90%}
.EXLSMSPopup h2{ font-size:100%; line-height:130%; padding-left:0.8em; padding-top:0.5em}
.EXLSMSPopup h4.EXLSMSPopupTitle{ font-size:90%; line-height:130%; padding-top:0em; color:#8c8c8c; display:none;}
.EXLSMSPopup td.colspanTD { text-align:left}
.EXLSMSPopup td.EXLSMSPopupSend label{ display:none;}
.EXLSMSPopup input.send_button {border:1px solid #7f9db9;  padding:0em 0.5em 0em 0.5em; display:block;background-image:url(../images/v3.0/images/bg_strip_btn_orange.png); background-repeat:repeat-x;margin:0em; width:auto;  color:#FFFFFF; font-weight: normal;height:24px; cursor: pointer; background-color:#FFFFFF; margin-bottom:0.5em; margin-left:4.7em; margin-top:0.5em;  }

/*print popups*/
.EXLPrintableLayoutTable{font-size:85%;width:100%;}
.EXLPrintableLayoutTable br{display:none;}
.EXLPrintableLayoutTable table.EXLFullDetailsTable{margin-bottom:0px;}
.EXLEshelfFullRecord table.EXLEshelfFullRecordTable{width:100%;}
.printTitle{border-bottom: 7px solid #e5e5e5; width:100%; }
.printTitle td{padding: 8px 0px 3px;}
.breakPrint{page-break-before: always;}
.EXLPrintableLayoutTable table.EXLPrintableTitleTable div{display:none;}
.EXLPrintableLayoutTable ul.EXLFullDetailsDetailsList {list-style-type: none;}
.EXLPrintableLayoutTable li.EXLFullDetailsField {margin-bottom: 5px;}
.EXLPrintableLayoutTable h4.EXLFullDetailsTitles{ font-size:100%; line-height:130%; padding-top:0em; margin-bottom: 5px; font-weight:normal;}
.EXLPrintableLayoutTable div.EXLResultsList {border-top:none; }
.EXLPrintableLayoutTable .fulldetails table.Available {width: auto}
.EXLPrintableLayoutTable .fulldetails .greenAvailable{color: #5CA301; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px; letter-spacing: 0.04em;}
.EXLPrintableLayoutTable .fulldetails .yellowAvailable{color: #000000; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px;}
.EXLPrintableLayoutTable .fulldetails .redAvailable{color: #e54f4f; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px;}
.EXLPrintableLayoutTable .fulldetails .purpleAvailable{color: #000000; font: bold 1em tahoma; vertical-align: top; padding: 0px 15px 0px 0px;}

