/* general */
html {font-size: 100%; /* IE hack */ }
body {font: normal 12px Verdana, sans-serif; background-color: #E5E5E5; margin: 20px 8px 0px 8px;}
table {font-size: 100%; /* IE hack */ width: 100%}
form {margin: 0}
td {vertical-align: top}
img {border: none}

div.Normal {font: normal 12px Verdana, sans-serif; margin:0px 15px; padding:5px;}
div.Heading_1 {color: #ffffff; font: bold 1.8em Tahoma, sans-serif; background: url(../images/review_title_corner_l.gif) top left no-repeat; padding-left: 15px; width: 100%;}
div.Heading_2 {padding: 15px; color: #704A7C; font: bold 1.7em Tahoma, sans-serif; }
div.Heading_3 {padding: 15px; color: #704A7C; font: normal 1.7em Tahoma, sans-serif; }
div.Bullet1_inner {margin: 0px 15px; padding:1px 0px; line-height: 150%}
span.Hyperlink {color: #704A7C;}
a:link {color: #704A7C;}
a:hover {color: #F58B21}

/*review pop up */
div.cancel{text-align: right; padding:5px 15px 0px 0px; float: right;}
div.review_body_pop{background-color: #ffffff;}
div.text_title{margin-bottom: 4px;}
div.rating{padding-top: 4px;}
div.small{padding-top: 6px; font: normal 0.8em Verdana, sans-serif;}
div.review_title{background: #FEB458 url('../images/review_title_corner_r.gif') top right no-repeat; color: white;}
div.NoteBorders {border:solid 2px #F58B21; margin:15px 15px; padding:5px}
div.Motivation {background: #FEB458; margin:0px 15px; padding:5px}
h2.WebWorks_TOC_Title
{
}

a.WebWorks_TOC_Link
{
}

div.WebWorks_TOC_Level1
{
  margin-left: 12pt;
}

div.WebWorks_TOC_Level2
{
  margin-left: 24pt;
}

div.WebWorks_TOC_Level3
{
  margin-left: 36pt;
}

div.WebWorks_TOC_Level4
{
  margin-left: 48pt;
}

div.WebWorks_TOC_Level5
{
  margin-left: 60pt;
}

div.WebWorks_TOC_Level6
{
  margin-left: 72pt;
}

div.WebWorks_TOC_Level7
{
  margin-left: 84pt;
}

div.WebWorks_TOC_Level8
{
  margin-left: 96pt;
}

div.WebWorks_TOC_Level9
{
  margin-left: 108pt;
}

div.WebWorks_TOC_Level10
{
  margin-left: 120pt;
}

h2.WebWorks_Index_Title
{
}

div.WebWorks_Index_Group
{
}

a.WebWorks_Index_Link
{
}

div.WebWorks_Index_Level1
{
  margin-left: 12pt;
}

div.WebWorks_Index_Level2
{
  margin-left: 24pt;
}

div.WebWorks_Index_Level3
{
  margin-left: 36pt;
}

div.WebWorks_Index_Level4
{
  margin-left: 48pt;
}

div.WebWorks_Index_Level5
{
  margin-left: 60pt;
}

div.WebWorks_Index_Level6
{
  margin-left: 72pt;
}

div.WebWorks_Index_Level7
{
  margin-left: 84pt;
}

div.WebWorks_Index_Level8
{
  margin-left: 96pt;
}

div.WebWorks_Index_Level9
{
  margin-left: 108pt;
}

div.WebWorks_Index_Level10
{
  margin-left: 120pt;
}

div.WebWorks_Breadcrumbs
{
  color: #999999;
  font-family: sans-serif;
  font-size: 10pt;
}

a.WebWorks_Breadcrumb_Link
{
  text-decoration: none;
}

div.WebWorks_MiniTOC
{
  background-color: #EEEEEE;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  font-family: sans-serif;
}

a.WebWorks_MiniTOC_Link
{
  text-decoration: none;
}

div.WebWorks_MiniTOC_Level1
{
  margin-left: 0pt;
}

div.WebWorks_MiniTOC_Level2
{
  margin-left: 12pt;
}

div.WebWorks_MiniTOC_Level3
{
  margin-left: 24pt;
}

div.WebWorks_MiniTOC_Level4
{
  margin-left: 36pt;
}

div.WebWorks_MiniTOC_Level5
{
  margin-left: 48pt;
}

div.WebWorks_MiniTOC_Level6
{
  margin-left: 60pt;
}

div.WebWorks_MiniTOC_Level7
{
  margin-left: 72pt;
}

div.WebWorks_MiniTOC_Level8
{
  margin-left: 84pt;
}

div.WebWorks_MiniTOC_Level9
{
  margin-left: 96pt;
}

div.WebWorks_MiniTOC_Level10
{
  margin-left: 108pt;
}
